openapi: 3.1.0
info:
  title: Nacre API
  version: "1.0.0"
  description: >
    A self-hosted corporate knowledge index with fine-grained access control.
    The organization is determined by the token alone and is never accepted
    from a request body, a path, or a header.
servers:
  - url: https://nacre.work/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    Problem:
      type: object
      required: [type, title, status, request_id]
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string, description: Never reveals the existence of an inaccessible object }
        instance:   { type: string }
        request_id: { type: string }
    SearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string }
        layers:
          type: array
          items: { type: string }
          maxItems: 64
          description: >
            Layer slugs to restrict the search to. Absent or empty means every
            layer the caller can read. Narrowing only — it is a `must` inside the
            index traversal, on top of the permission constraint, so it can never
            reach a layer a grant does not. Naming a layer the caller cannot read
            returns nothing from it and is indistinguishable from naming one that
            does not exist, which is invariant I4 applied to a query parameter.
        top_k: { type: integer, default: 10, minimum: 1, maximum: 50 }
        rerank: { type: boolean, default: true }
        include_content:
          type: boolean
          default: true
          description: >
            false omits `text` from every hit, leaving ids and scores. Applied
            after reranking, because a reranker scores the query against the
            text.
        filters:
          type: object
          description: >
            Restrict to documents whose metadata matches. Equality; a list value
            means any of those. **Narrowing only** — every entry becomes a `must`
            beside the permission constraint inside the index traversal, so a
            filter can only remove results the caller was already permitted to
            see, and `top_k` still comes back full from the smaller set.

            Keys are lower case letters, digits and underscores, and are read
            under a reserved payload namespace: `filters: {"deleted": false}`
            narrows on a metadata value called `deleted`, not on the tombstone
            flag. No negation, no ranges and no disjunction across keys — each is
            a way to widen if composed wrongly.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                maxItems: 32
                items: { type: [string, number, boolean] }
    ReindexStatus:
      type: object
      required: [layer_id, status, current_vector, shadow_vector, progress]
      properties:
        layer_id: { type: string, format: uuid }
        status:   { type: string, enum: [running, complete, failed] }
        phase:
          type: string
          enum: [copying, embedding]
          description: >
            `copying` is the organization's collection being rebuilt with room
            for the new model — no embeddings are computed and `progress` reads
            0 throughout. `embedding` is the per-layer work `progress` measures.
            The two are separate because the first is org-wide and happens once
            however many layers are migrated.
        current_vector:
          type: string
          description: 'What search is using right now.'
        shadow_vector:
          type: string
          description: 'What is being built. They differ until the switch.'
        provider_id: { type: string, format: uuid }
        started_at:  { type: string, format: date-time }
        finished_at: { type: [string, 'null'], format: date-time }
        total:
          type: integer
          description: >
            Documents outstanding when the reindex began. A starting figure and
            not a bound — documents ingested during the run are picked up by the
            same pass, so `done` can exceed it.
        done:     { type: integer }
        failed:   { type: integer }
        progress:
          type: number
          description: '0 to 1, clamped. An empty layer reads 1, because it is finished.'
        error:    { type: [string, 'null'] }
        check:
          oneOf:
            - { type: 'null' }
            - { $ref: '#/components/schemas/RecallCheck' }
          description: >
            What the recall gate scored, once it has run. `null` until then, and
            `null` forever for a layer with no reference query set — that layer
            has no gate. Null rather than absent: absent would read as "this
            deployment does not check recall", which is a different claim.

    RecallCheck:
      type: object
      description: >
        The gate between a finished reindex and the switch that makes it live.
        Recall@10 against documents the deployment picked, per reference query,
        averaged over the set — and `passed` false ends the reindex at `failed`
        with `vector_name` left on the model the layer was already on.
      required: [recall, floor, passed, queries, scores]
      properties:
        recall: { type: number, description: 'The mean of `scores`, 0 to 1.' }
        floor:  { type: number, description: 'NACRE_REINDEX_MIN_RECALL as a fraction.' }
        passed: { type: boolean }
        queries: { type: integer }
        scores:
          type: array
          description: >
            Per reference query, keyed by id rather than by text — the text is
            on GET /layers/{id}/reference-queries, one join away, and a status
            response is read by more people than wrote the set.
          items:
            type: object
            properties:
              query_id: { type: string, format: uuid }
              recall:   { type: number }
        unresolved:
          type: array
          items: { type: string }
          description: >
            External ids in the set naming no live document. Any of these means
            `passed` is false whatever `recall` says: a stale reference set and
            a model that lost recall are different problems, and scoring a
            missing document as a miss would report the first as the second.

    ReferenceQuery:
      type: object
      required: [id, query, expected]
      properties:
        id:    { type: string, format: uuid }
        query: { type: string, maxLength: 1024 }
        expected:
          type: array
          maxItems: 10
          items: { type: string }
          description: >
            External ids the query must still find, and at most ten because that
            is how many the check retrieves. A longer list could never score 1.0,
            so its floor would be unreachable and would read as a regression in
            the model rather than as a mistake in the set.

    AuditEvent:
      type: object
      description: >
        One recorded access, as docs/audit.md specifies it. Query text is never
        stored — a hash is, under NACRE_AUDIT_QUERY_TEXT=false, which is the
        default — so the journal cannot leak what the journal exists to police.
      required: [id, occurred_at, actor, surface, action, target, result]
      properties:
        id:          { type: string, description: 'A sequence rather than a uuid, because a log is ordered.' }
        occurred_at: { type: string, format: date-time }
        actor:
          type: object
          required: [type, label]
          properties:
            type:  { type: string, example: service_account }
            id:    { type: [string, 'null'], format: uuid }
            label: { type: string }
        surface: { type: string, enum: [api, mcp, admin, system] }
        client:  { type: [string, 'null'], description: From the MCP client's _meta. }
        action:  { type: string, example: search }
        target:
          type: object
          additionalProperties: true
          description: 'What the call was about; search records the layers and doc ids it returned.'
        result:  { type: string, enum: [allow, deny, error] }
        detail:
          type: object
          additionalProperties: true
          description: >
            Everything about the call that is not what it was about: measurements,
            hashes, and why a refusal was refused. The object acted on belongs in
            `target`, which is the field the schema indexes — a client looking for
            "who touched this" reads that one.
        request_id: { type: [string, 'null'] }

    SearchHit:
      type: object
      required: [chunk_id, doc_id, layer, score]
      description: >
        What a result carries, and deliberately not what the vector store holds.
        The payload the index keeps — org_id, layer_id, doc_id, deleted —
        never reaches a client. An acl tag is a hash over the grant set reaching
        a document, so publishing it would let a caller group documents by which
        permissions they share.
      properties:
        chunk_id:   { type: string, format: uuid }
        doc_id:     { type: string, format: uuid }
        layer:      { type: string, description: The layer slug }
        title:      { type: [string, 'null'] }
        score:      { type: number }
        text:       { type: string }
        source_url:
          type: string
          description: >
            Not present on a search result, and deliberately. A presigned URL is
            a bearer capability that outlives the permission check which minted
            it, and answering a question about relevance by issuing one per hit
            would hand out ten capabilities where the caller wanted an ordering
            — most of them never followed, every one of them valid for
            NACRE_PRESIGN_TTL. Ask for the document: GET /v1/documents/{id}
            carries source_url when the deployment stores bytes in object
            storage.
        metadata:   { type: object, additionalProperties: true, description: 'The document''s metadata, as supplied on ingest.' }
    EmbeddingProvider:
      type: object
      required: [id, name, model, dimensions, is_default]
      description: >
        An embedding model a layer can be put on. **Neither the endpoint nor any
        credential reference appears here**, and that is the shape rather than an
        omission: choosing a model takes an id, and where a deployment sends text
        is a question for its operator rather than for every caller who lists the
        models available to them.
      properties:
        id:         { type: string, format: uuid }
        name:       { type: string, description: Unique within the organization }
        model:      { type: string, description: Sent to the endpoint as-is }
        dimensions:
          type: integer
          description: >
            What the model returns, and what a layer's vector slot is created
            with. Wrong here is a layer that accepts documents and fails every
            one of them.
        is_default:
          type: boolean
          description: >
            The installation default — the row belonging to no organization,
            readable by every tenant and writable by none.
    Workspace:
      type: object
      required: [id, slug, name, layer_count, created_at, permissions]
      properties:
        id:          { type: string, format: uuid }
        slug:        { type: string, description: Unique within the organization }
        name:        { type: string }
        layer_count:
          type: integer
          description: >
            Live layers in it — not "layers this caller may read". A count that
            varied by who asked would leak the shape of somebody else's grants.
        created_at:  { type: string, format: date-time }
        permissions:
          type: array
          items: { type: string, enum: [read, write, admin] }
          description: >
            What **this** caller holds on this workspace, resolved for this
            request. Per-caller on purpose, which `layer_count` is deliberately
            not: a count that varies by who asked describes somebody else's
            grants, while this describes only the asker's own, on an object
            they are already being shown.


            It answers "may I create a layer here?", which has no other answer.
            The role does not give it — a grant of `admin` on the workspace is
            enough, and a caller who can see one with `read` may not — so a
            client deciding from `role` offers a control whose next request is
            a 404.


            A set rather than a level: permissions are unordered here, so
            `["write"]` is a real answer. Reaching a *layer* inside a workspace
            never reports as authority over the workspace itself.
    Layer:
      type: object
      required: [id, slug, name, workspace_id, document_count]
      properties:
        id:             { type: string, format: uuid }
        slug:           { type: string, description: Unique within the organization }
        name:           { type: string }
        workspace_id:   { type: string, format: uuid }
        description:    { type: string }
        document_count:
          type: integer
          description: >
            Live documents in the layer. Not "documents this caller may read" —
            layer-scoped grants are all the open core has, so anyone who can see
            the layer reaches everything in it. Document-level grants are a
            commercial module, and when they exist this has to be computed per
            caller or dropped.
    Document:
      type: object
      required: [document_id, layer, status, chunk_count, updated_at]
      description: >
        A document's metadata. Not its text — chunks are what search returns,
        and a whole-document body here would be a second, unpaginated way to
        read everything.
      properties:
        failed_count:
          type: integer
          description: >
            Live documents in the layer that indexing **failed** on.


            Beside `document_count` rather than folded into it. Rows are the
            right definition of "documents in this layer" — counting only
            indexed ones would swing while the worker catches up — and `failed`
            is the one status that waits for a person rather than resolving
            itself. A layer with documents and every one of them failed answers
            every search with nothing, and looked identical to a healthy one.


            Not per caller, on the same argument `document_count` makes.
        document_id: { type: string, format: uuid }
        external_id:
          type: [string, 'null']
          description: >
            The identifier the caller ingested it under, read back.


            Write-only until now: ingest is idempotent on `(layer, external_id)`
            and nothing returned one, so a client that tagged a document
            `handbook/onboarding.md` and did not keep the uuid had no way to ask
            what became of it. A reference query set names external ids too, so
            scoring recall from outside the worker was impossible for the same
            reason.


            `null` for a document ingested without one.
        layer:       { type: string, description: The layer slug }
        title:       { type: [string, 'null'] }
        status:      { type: string, enum: [pending, parsing, indexing, indexed, failed] }
        chunk_count: { type: integer }
        error:
          type: [string, 'null']
          description: >
            Why indexing failed, for a document whose `status` is `failed`.


            The worker has written this since it had a message worth writing and
            no surface read it back, so `failed` with `chunk_count: 0` was the
            whole of what a caller could learn and the reason was reachable only
            by whoever holds the host.


            `null` for every other status, including a document that failed once
            and succeeded on a retry: the column keeps the last error, and
            reporting it beside `indexed` would describe a working document as a
            broken one. It follows the document's own permission, so rule 6
            keeps it away from a caller holding `write` alone.


            Anything shaped like a host or a URL is taken out, the same as on
            `/v1/jobs/{jobId}`. The stored string carries the embedding
            endpoint's address and whatever a sidecar wrote into its message,
            and this field is reached by `get_document` over MCP — whose caller
            can be a third party acting through a delegation.


            A **filename** is taken out with them, and that is a known cost
            rather than an oversight: `contract.pdf` and `example.com` are the
            same shape, nothing can separate them, and of the two ways to be
            wrong only one leaks. The unredacted text is in the worker's log,
            where the operator is.
        updated_at:  { type: string, format: date-time }
        metadata:
          allOf:
            - $ref: '#/components/schemas/DocumentMetadata'
          description: >
            What the document was tagged with, and what `filters` reads back.
            `{}` for a document that was never tagged.
        source_url:
          type: string
          format: uri
          description: >
            A presigned link to the original bytes, valid for
            NACRE_PRESIGN_TTL. Present only where the deployment stores document
            bytes in object storage and this document's source is one of them —
            absent for an inline document, for one ingested by URL, and for
            every deployment without a bucket. It is minted after the permission
            check and only for a caller holding `read`, and it is a bearer
            capability from that point on: whoever holds it fetches the object
            without a Nacre credential, and a revocation inside the window does
            not reach it.
    DocumentMetadata:
      type: object
      description: >
        Keys are lower case letters, digits and underscores — a key becomes a
        payload field name, and the vector store reads `.` as nested access.
        Values are scalars or lists of them; a nested object is refused rather
        than flattened. At most 32 keys.
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            maxItems: 32
            items: { type: [string, number, boolean] }
    IngestRequest:
      type: object
      required: [layer]
      properties:
        layer:       { type: string }
        external_id: { type: string, description: Idempotency key }
        title:       { type: string }
        content:     { type: string }
        url:         { type: string, format: uri }
        metadata:
          type: object
          description: >
            Tags the document is filterable by. Keys are lower case letters,
            digits and underscores; values are scalars or lists of them, and a
            nested object is refused rather than flattened. At most 32 keys.

            Written into the vector payload of every chunk, which is why
            changing metadata alone re-indexes the document — the row and the
            index would otherwise disagree, and the document would carry a tag
            it does not answer to.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                maxItems: 32
                items: { type: [string, number, boolean] }
      oneOf:
        - required: [content]
        - required: [url]
    Job:
      type: object
      description: >
        What became of an ingest, for the caller who sent it.


        Reachable with **`write`** on the document's layer as well as with
        `read`, and that is the point of it. Rule 6 says write does not imply
        read and it still does not: this carries a status, a chunk count and a
        classified reason, and never the document's text, title or metadata.
        An ingest-only service account — the principal `write` exists to
        describe — could otherwise hand over a document, receive `queued`, and
        have no way to ask what became of it, because every surface that would
        answer needs `read`.


        `indexed` alone does not mean searchable: a document that parses to
        nothing reaches it too, with `chunk_count: 0`. Check the count.
      required: [job_id, document_id, status, chunk_count]
      properties:
        job_id:      { type: string }
        document_id: { type: string, format: uuid }
        status:      { type: string, enum: [queued, parsing, embedding, indexed, failed] }
        progress:    { type: number }
        chunk_count:
          type: integer
          description: >
            Chunks indexed. Zero with `indexed` means the document parsed to no
            text — a real outcome, and not the same as being searchable.
        reason:
          type: string
          enum: [too_long, unreadable, unavailable, quota, internal]
          description: >
            Why it failed, stable enough to branch on. `too_long` and
            `unreadable` will not change on a retry; `unavailable` may.


            Present only with `status: failed`.
        error:
          type: string
          description: >
            The failure's own wording, with anything shaped like a host or a
            URL taken out.


            Relayed rather than replaced by a sentence written here: a scanned
            PDF fails with a message naming the scan and pointing at OCR, and a
            tidier sentence would send somebody hunting for a corrupt file.
            What is removed is the infrastructure — the embedding endpoint's
            URL and whatever a sidecar wrote into its message — because the
            caller here may be a third party acting through a delegation. The
            unredacted text stays in Postgres and in the worker's log.
    ServiceAccount:
      type: object
      properties:
        id:            { type: string, format: uuid }
        name:          { type: string }
        key_prefix:    { type: string, description: 'Not secret. Shown so two keys can be told apart.' }
        key:           { type: string, description: 'Only on creation. Never returned again.' }
        created_at:    { type: string, format: date-time }
        last_used_at:  { type: [string, 'null'], format: date-time }
        revoked_at:    { type: [string, 'null'], format: date-time }
    SecondFactorChallenge:
      type: object
      required: [second_factor_required, challenge, expires_in]
      properties:
        second_factor_required:
          type: boolean
          enum: [true]
        challenge:
          type: string
          description: |
            Short-lived and single-purpose. Its audience is not the API's, so it
            is refused everywhere an access token is accepted — one that could
            be presented as a bearer token would be a way past the factor it
            exists to demand. Present it to `POST /auth/second-factor`.
        expires_in: { type: integer, description: Seconds. }
    SecondFactor:
      type: object
      required: [id, kind, label, created_at, last_used_at]
      properties:
        id:    { type: string, format: uuid }
        kind:  { type: string, enum: [totp] }
        label: { type: string }
        created_at:   { type: string, format: date-time }
        last_used_at: { type: [string, 'null'], format: date-time }
    Self:
      type: object
      required: [organization, principal_type, principal_id, role]
      properties:
        organization:
          type: string
          format: uuid
          description: The organization the token names. Never taken from anywhere else.
        principal_type:
          type: string
          enum: [user, service_account]
          description: |
            `group` cannot appear: a group is granted to, never authenticated as.
        principal_id: { type: string, format: uuid }
        role:
          type: string
          enum: [platform_admin, org_admin, member]
          description: |
            What this principal may do organization-wide. A service account is
            always `member`; anything it reaches, it reaches through a grant.
    Connection:
      type: object
      required: [id, client_id, client_name, acts_as, service_account_id, service_account_name, approved_by, approved_by_email, approver_disabled, created_at, layers, permissions]
      properties:
        id: { type: string, format: uuid }
        client_id: { type: string }
        client_name:
          type: string
          description: Self-asserted at registration. The redirect URI is what decides where a code goes.
        acts_as:
          type: string
          enum: [service_account, user]
          description: |
            What the application acts as. `service_account` is an agent with its
            own grants; `user` is a delegation, where the application acts as
            the person who approved it and reaches exactly what they reach.
        service_account_id:
          type: [string, 'null']
          format: uuid
          description: Null for a delegation, which names no agent.
        service_account_name: { type: [string, 'null'] }
        approved_by: { type: string, format: uuid }
        approved_by_email:
          type: [string, 'null']
          description: |
            The approver's address. `approved_by` answers which row; a reader of
            this list is asking who, and on an administrator's list every
            delegation is somebody else's. Null only where the row points at a
            user this organization no longer has.
        approver_disabled:
          type: boolean
          description: |
            Whether that person is disabled right now. A delegation of a
            disabled person is refused on every request and its renewal is
            refused too, so a connection that looks live and answers nothing
            has exactly one explanation and this is it.
        layers:
          type: array
          items: { type: string, format: uuid }
          description: |
            Layers a delegation was narrowed to at consent. Empty means **no
            narrowing** — never "narrowed to nothing", which is the opposite
            state and is deliberately not representable.
        permissions:
          type: array
          items: { type: string, enum: [read, write, admin] }
          description: |
            Permissions a delegation may exercise. Empty means **no ceiling**:
            it reaches every verb its person holds.
        created_at: { type: string, format: date-time }
        last_refreshed_at:
          type: [string, 'null']
          description: Last seen renewing, never last used. See the endpoint's note.
        revoked_at: { type: [string, 'null'] }
    ConsentRequest:
      type: object
      required: [client_id, redirect_uri, code_challenge]
      properties:
        client_id:
          type: string
          description: From the authorization request. Verified against the registration again here.
        redirect_uri:
          type: string
          format: uri
          description: |
            Compared exactly against what the client registered. Everything in
            this body came back through a redirect the caller controls, so it is
            checked a second time — the authorize endpoint's check protected the
            redirect, and this one protects the code.
        code_challenge:
          type: string
          description: PKCE, S256. `plain` is refused at the authorize endpoint and cannot reach here.
        service_account_id:
          type: string
          format: uuid
          description: |
            The agent the client will act as. Must be visible to the caller —
            one they cannot see and one that does not exist are the same answer.

            **Omit it to approve as yourself.** Naming an agent is what makes
            this the agent flow; naming nobody is a delegation, where the token
            acts as the signed-in person and reaches exactly what they reach.
            Not a mode flag beside this field, because two ways to say one thing
            is two ways for them to disagree.

            A `platform_admin` may not delegate: it spans tenants, so a
            delegation of it would be an escalation out of the organization this
            screen is scoped to. Refused here and again at token validation.
        layers:
          type: array
          items:
            oneOf:
              - type: string
                format: uuid
              - type: object
                required: [id]
                properties:
                  id: { type: string, format: uuid }
                  permissions:
                    type: array
                    items: { type: string, enum: [read, write, admin] }
                    minItems: 1
          description: |
            Layers a delegation is restricted to, chosen by the person
            approving. It can only ever remove: the ids become a `must` on
            `layer_id` inside the index traversal, beside the permission filter,
            so `top_k` still returns k permitted results.

            An entry may be a bare id, or an object carrying a ceiling for that
            layer alone. The two spellings are not two features: a bare id means
            "inherit the connection's ceiling", which is what every entry meant
            before a layer could carry one.

            A per-layer set is **intersected** with `permissions` and never
            replaces it. One naming a permission the connection's ceiling
            excludes could therefore never take effect, so it is refused with a
            `400` naming both sets rather than stored as a control that does
            nothing. It also never confers organization-wide authority: minting
            a user or an agent is gated on `permissions`, because a permission
            granted inside one layer is not authority over the organization
            holding it.

            The narrowing becomes one set of layers **per permission**:
            `{ L : p ∈ ceiling(L) }`. A layer given only `write` is absent from
            search, which is rule 6 rather than a special case.

            Every id must be one the caller can read — `404` otherwise, for an
            unknown id and an unreadable one alike. Replaced wholesale when the
            same application is approved again. Refused beside
            `service_account_id`: an agent's reach is its grants, which are an
            administrator's to set.
        permissions:
          type: array
          items: { type: string, enum: [read, write, admin] }
          minItems: 1
          description: |
            Permissions a delegation may exercise, chosen by the person
            approving. Omit for no ceiling.

            A **set**, not a level: `write` does not imply `read` anywhere in
            this model, so `["write"]` alone is an ingest client that cannot
            read back what it wrote. Empty is refused rather than treated as
            "no restriction" — that would be a delegation that can do nothing,
            which is a different thing and one nobody means to write.

            It bounds administration as well as documents. A delegation without
            `admin` is refused by every endpoint an `org_admin` gates, so a
            read-only delegation of an administrator cannot mint a credential.
            Refused beside `service_account_id`, on the same argument as
            `layers`.

            **`admin` is accepted here and is not offered on the consent
            screen**, which is a deliberate difference rather than a drift. The
            person that screen is built for arrived from an MCP client, and the
            MCP surface has no administrative tool — its tools resolve with
            `read` or `write` — so the choice would do nothing where they are
            looking and a great deal through this API, where they are not.

            It stays available here because it is not an escalation: a ceiling
            cannot exceed what its person already holds, so only an `org_admin`
            can obtain an administrative delegation, and doing so is a weaker
            act than the service account they could mint instead — it stops the
            moment they are disabled.
        state:
          type: string
          description: The client's, opaque here, echoed back untouched.
        resource:
          type: string
          format: uri
          description: RFC 8707. What the resulting token is bound to.
    User:
      type: object
      required: [id, email, role, created_at, disabled_at, has_password]
      properties:
        id:         { type: string, format: uuid }
        email:      { type: string, format: email }
        role:       { type: string, enum: [platform_admin, org_admin, member] }
        created_at: { type: string, format: date-time }
        disabled_at:
          type: [string, 'null']
          format: date-time
          description: >
            When sign-in stopped working. Set rather than the row being removed:
            the audit log names this id, and grants.created_by references it.
        has_password:
          type: boolean
          description: >
            Whether a local password is set at all — false is an SSO-only
            account. Never the hash, and never anything derived from it.
        password:
          type: string
          description: >
            Only on creation and on reset. Generated, shown once, and not
            recoverable from anywhere — issue a new one instead.
    Group:
      type: object
      required: [id, name, created_at, member_count]
      properties:
        id:         { type: string, format: uuid }
        name:       { type: string }
        created_at: { type: string, format: date-time }
        member_count:
          type: integer
          description: 'Direct members. A nested group counts as one, not as its members.'
    GroupMember:
      type: object
      required: [type, id, label]
      properties:
        type:  { type: string, enum: [user, group] }
        id:    { type: string, format: uuid }
        label: { type: string, description: 'The email for a user, the name for a nested group.' }
    TokenPair:
      type: object
      required: [access_token, token_type, expires_in, refresh_token]
      properties:
        access_token:  { type: string, description: 'JWT. The organization in it comes from the authenticated row.' }
        token_type:    { type: string, enum: [Bearer] }
        expires_in:    { type: integer, description: 'Seconds; from NACRE_ACCESS_TOKEN_TTL' }
        refresh_token:
          type: string
          description: >
            Opaque, and stored as a SHA-256 rather than in the clear — it
            outlives an access token by a month, so a database dump holding
            these would be a month of sessions rather than a list of
            identifiers. Rotated on every use.
    Grant:
      type: object
      required: [principal_type, principal_id, scope_type, scope_id, permission]
      properties:
        id:             { type: string, format: uuid }
        principal_type: { type: string, enum: [user, group, service_account] }
        principal_id:   { type: string, format: uuid }
        scope_type:     { type: string, enum: [workspace, layer, document] }
        scope_id:       { type: string, format: uuid }
        permission:     { type: string, enum: [read, write, admin] }
        effect:         { type: string, enum: [allow, deny], default: allow }
        source:         { type: string, enum: [manual, scim, api] }
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: >
        Opaque. Pass back the next_cursor from the previous page rather than
        constructing one — the format is allowed to change, and a cursor this
        API did not issue is answered 400. There is no offset parameter: offset
        paging skips and repeats rows when the collection changes underneath it,
        and ?offset= is refused rather than ignored.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Caches the response for 24 hours, scoped to the organization, **the
        principal**, the method, the path and a hash of the body. The principal
        is in that list because two principals in one organization see different
        things: a cache scoped to the tenant alone let either of them replay the
        other's response. Reusing a key with a different body is 409, as is a
        second attempt while the first is still in flight. Only successful
        responses are stored — a cached failure makes a transient fault
        permanent for a day. Ignored on POST /documents (already idempotent on
        content), on POST /search (safe to repeat, and its response is made of
        other people's documents), and on /service-accounts, whose response
        carries a credential.
      schema: { type: string, maxLength: 255 }
  headers:
    RateLimitLimit:
      description: Requests permitted in the current window (RFC 9331).
      schema: { type: integer }
    RateLimitRemaining:
      description: Requests left in the current window.
      schema: { type: integer }
    RateLimitReset:
      description: Seconds until the window resets.
      schema: { type: integer }
    RateLimitPolicy:
      description: 'The policy in force, as resource;q=quota;w=window.'
      schema: { type: string }
    RetryAfter:
      description: Seconds to wait. Present only on a 429.
      schema: { type: integer }
    IdempotencyReplayed:
      description: Present when the body is a replay of an earlier identical request.
      schema: { type: boolean }
  responses:
    NotFoundOrForbidden:
      description: >
        The object is absent or invisible. The two are deliberately
        indistinguishable: otherwise enumerating identifiers reveals which
        documents exist.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    RateLimited:
      description: >
        The organization's budget for this resource is spent. Counted per
        organization rather than per token, because a per-token limit is
        bypassed by issuing another key — and this API hands out keys. The
        RateLimit-* headers are on every counted response, not only this one, so
        a client can slow down before it is refused.
      headers:
        RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
        RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
        RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
        RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        Retry-After:         { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    IdempotencyConflict:
      description: >
        The Idempotency-Key is in use for a different request, or the first
        attempt has not finished. Replaying a response that does not match what
        was asked for — or does not exist yet — is worse than saying so.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

paths:
  /auth/login:
    post:
      summary: Email and password sign-in
      description: >
        `organization` is a lookup key and not a claim. Invariant I1 governs
        authenticated requests and this is the request with no token yet, so the
        body may name an organization to disambiguate the address — but the
        organization in the issued token comes from the row that authenticated,
        never from the request. Naming one organization while holding an account
        in another is a refusal, not a token for either. It may be omitted on a
        single-organization installation; omitted, the address must match
        exactly one user, and zero or several are the same refusal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:        { type: string, format: email }
                password:     { type: string, format: password }
                organization: { type: string, description: Organization slug. Optional on a single-organization installation. }
      responses:
        '200':
          description: >
            A session, or a demand for the second half of one. Where the account
            has a confirmed second factor the body carries a challenge instead
            of tokens — 200 and not 401 because nothing was refused: the caller
            is being asked for the rest of what it needs. No audit event is
            written for that half; a "login allow" recorded here would put a
            successful sign-in in the journal for somebody who never produced a
            code.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/TokenPair'
                  - $ref: '#/components/schemas/SecondFactorChallenge'
        '401':
          description: >
            One response for every failure, in the same time: unknown address,
            wrong password, wrong organization, disabled account, and an account
            with no password set. An early return on "no such user" would make
            the response time say which addresses have accounts.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '429':
          description: >
            Two limits, on two different things, because either alone leaves a
            hole. Per email address — there is no organization until the sign-in
            succeeds, and that defends one account's password. And per client,
            because the address limit does nothing about the attack that is
            actually run: one password against ten thousand addresses never
            repeats a key. Reported as one response with the address limit's
            RateLimit-* headers, which is the tighter of the two; headers that
            varied by which limit fired would be a signal about other people's
            traffic.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '503':
          description: >
            Shed under load, and deliberately not a 401. The number of passwords
            being verified at once is bounded inside the process, because scrypt
            runs on libuv's thread pool and that pool is shared with DNS and file
            I/O — unbounded, a login flood stops the rest of the API on a name
            lookup. Past the bound nothing was decided about the credentials
            presented, so saying "not valid" would be a lie the client acts on.
            Carries Retry-After. Not an oracle: it depends on how loaded the
            process is and not at all on whether the account exists.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/second-factor:
    post:
      summary: Finish a sign-in with a second factor
      description: >
        The second half of `POST /auth/login`, for an account that has a
        confirmed factor. Takes the challenge that call returned and a code — a
        six-digit one from an authenticator, or a recovery code. Both are
        accepted here rather than on two paths, because from outside they answer
        the same question and a separate route would say which one a person is
        using.


        The challenge is a short-lived token bound to an audience that is not
        the API's, so it is refused everywhere an access token is accepted: one
        that could be presented as a bearer token would be a way past the factor
        it exists to demand. The role and the account's state are re-read when
        the session is issued rather than trusted from it — five minutes is long
        enough to be disabled.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [challenge, code]
              properties:
                challenge: { type: string, description: 'From the login response.' }
                code:      { type: string, description: 'Six digits from an authenticator, or a recovery code.' }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: >
            One response for an expired challenge, a forged one, a wrong code
            and an account disabled since the password was checked. Which of the
            four it was is nothing a client needs and something an attacker
            would use.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '429':
          description: >
            The same per-client bucket as sign-in. Without it the limit is a
            limit on passwords rather than on sessions: an attacker holding a
            password spends one login and then guesses six digits here without
            ever meeting a bucket again. The bound that survives a Redis restart
            is per factor and in Postgres, because a rate limiter that fails
            open is not an authorization control and this is.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/refresh:
    post:
      summary: Exchange a refresh token for a new pair
      description: >
        Rotation on every use. A used token presented again is not tolerated as
        a client retry: the legitimate holder already exchanged it, so a second
        presentation means two parties hold it and one of them took it. Which is
        unknowable from here, so the whole family descended from that login is
        revoked and both sign in again.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: A new pair. The presented token is now spent.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Expired, revoked, already used, unknown, or the account has since been disabled.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/logout:
    post:
      summary: End the session this refresh token belongs to
      description: >
        Revokes the whole family, so the session ends rather than one token of
        it. A fresh login starts a new family, so signing out on one device
        leaves the others alone.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '204':
          description: >
            Whether or not the token was live. Answering "no such token" tells
            whoever is holding a stolen one that it is no longer worth using.
  /search:
    post:
      summary: Semantic search, scoped to the caller's effective permissions
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchRequest' }
      responses:
        '200':
          description: Results. Exactly top_k permitted ones — the filter is applied inside the index traversal, not after ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  # `items`, not `hits`. Every collection response in this API
                  # uses the same key, this one included, and the document said
                  # `hits` while the server sent `items` — a contract that
                  # disagrees with the code is worse than no contract, because
                  # a client written against it compiles and returns nothing.
                  items: { type: array, items: { $ref: '#/components/schemas/SearchHit' } }
          headers:
            RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
            RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents:
    post:
      summary: Add or update a document
      description: >
        Two envelopes for one operation. The multipart form carries the same
        fields as the JSON body, with the document as a file part rather than
        as `content`.


        The file part is the one carrying a `filename`, or the one named
        `file`. `external_id` defaults to that filename — a form that uploaded
        `q3-plan.md` has already said what the document is called — and an
        explicit `external_id` field wins. The filename reaches a database
        column and nothing else: object keys are derived by hashing the
        external id, so a caller does not choose the shape of anything in the
        bucket.


        **The file is UTF-8 text, or a PDF.** A PDF must carry both signals:
        the part declares `application/pdf` **and** the bytes begin with the
        `%PDF-` magic — either alone is `400`, naming the other. Binary bytes
        live only in object storage, so a PDF on a deployment without
        `NACRE_S3_*` is `400` naming the variables, on the request rather
        than from a `failed` row. Any other binary format is `400`: the
        parser extracts PDF and nothing else, and the alternative is a
        document stored as replacement characters and reported as indexed.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IngestRequest' }
          multipart/form-data:
            schema:
              type: object
              required: [layer, file]
              properties:
                # Every field here is a string, because a multipart field is
                # one. `metadata` therefore carries a JSON object as text — the
                # same value the JSON body sends as an object.
                layer:       { type: string }
                file:        { type: string, format: binary, description: "UTF-8 text, or a PDF declaring application/pdf whose bytes carry the %PDF- magic. Any other binary file is refused with 400." }
                external_id: { type: string, description: "Defaults to the file part's filename." }
                title:       { type: string }
                metadata:    { type: string, description: "A JSON object, as text." }
            encoding:
              file: { contentType: 'text/plain, text/markdown, application/pdf, application/octet-stream' }
      responses:
        '200': { description: Idempotent repeat; the document is unchanged }
        '202':
          description: Accepted for processing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '400':
          description: >
            A malformed multipart envelope, a binary file that is not a PDF, a
            declared PDF without the `%PDF-` magic or the magic without the
            declaration, a PDF on a deployment without object storage, a file
            alongside `content` or `url`, a second file part, or a repeated
            field.
        '413': { description: Document exceeds NACRE_MAX_DOCUMENT_BYTES }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Fetch a document's metadata
      responses:
        '200':
          description: The document
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    patch:
      summary: >
        Replace a document's metadata. The vectors are untouched — no re-parse,
        no re-chunk, no re-embed.
      description: >
        `write`, and rule 6 means that is not the same set as `read`. The answer
        carries no body for exactly that reason: a caller who may retag a
        document and not read it must not learn its title or its layer from a
        successful call. `GET` is where the document is, for whoever may see it.

        A replacement and not a merge — send every tag the document should have.
        Sending `{"source":"notion"}` after `{"source":"confluence","team":"legal"}`
        leaves one tag, because otherwise a tag the caller removed would go on
        matching filters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metadata]
              properties:
                metadata: { $ref: '#/components/schemas/DocumentMetadata' }
      responses:
        '204': { description: Replaced }
        '400': { description: 'metadata is missing, or is not a usable shape' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    delete:
      summary: Delete a document — a tombstone; it leaves results immediately
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /.well-known/jwks.json:
    # At the origin, not under /v1. RFC 8615 fixes where a well-known document
    # lives, and the `WWW-Authenticate` on every 401 already names this exact
    # path — a client sent to /v1/.well-known/jwks.json reaches the authenticated
    # surface and is answered 401, which is the one status a key document must
    # never give a client that has no credential yet.
    servers:
      - url: https://nacre.work
    get:
      summary: >
        The public half of the signing key (RFC 7517). Unauthenticated, because
        a public key is public.
      description: >
        Served only by a deployment signing with `NACRE_JWT_PRIVATE_KEY_REF`. On
        one using `NACRE_JWT_SECRET` this answers `404`, and that is the point
        rather than a gap: a shared secret has no publishable half, and an
        endpoint that produced one anyway would be publishing the key that mints
        tokens.


        During a rotation the retired key is here too, for the same reason it is
        still accepted — there are tokens in the wild signed with it, and a
        verifier outside the process has to be able to check them. `kid` is
        derived from the public bytes rather than configured, so every process
        agrees on it without anyone keeping two settings in step.
      security: []
      responses:
        '200':
          description: The current key, and the retired one during a rotation.
          content:
            application/json:
              schema:
                type: object
                required: [keys]
                properties:
                  keys:
                    type: array
                    items:
                      type: object
                      properties:
                        kty: { type: string, enum: [OKP] }
                        crv: { type: string, enum: [Ed25519] }
                        x:   { type: string, description: 'The public key, base64url. There is no `d`.' }
                        kid: { type: string }
                        use: { type: string, enum: [sig] }
                        alg: { type: string, enum: [EdDSA] }
        '404':
          description: This deployment signs with a shared secret; there is nothing to publish.
  /.well-known/oauth-protected-resource:
    # At the origin, for the reason above and one more: this is the document a
    # client reads *because* it got a 401, so reaching it must not need the
    # credential it is trying to work out how to obtain.
    servers:
      - url: https://nacre.work
    get:
      summary: >
        Protected resource metadata (RFC 9728). Unauthenticated, because it is
        what a client reads before it has a credential.
      security: []
      responses:
        '200':
          description: >
            The resource identifier every token is audience-bound to, and the
            authorization server when the deployment has one.

            `authorization_servers` is absent unless
            `NACRE_OAUTH_AUTHORIZATION_SERVER` names one, and is deliberately
            never pointed at Nacre itself: this is a resource server. Sign-in is
            email and password and a service account key is a random string
            matched against a hash — neither is an OAuth grant, so a client sent
            here for a token endpoint would find nothing.
          content:
            application/json:
              schema:
                type: object
                required: [resource, bearer_methods_supported, resource_documentation, scopes_supported]
                properties:
                  resource: { type: string, format: uri, description: 'No trailing slash; it is an audience value.' }
                  authorization_servers: { type: array, items: { type: string, format: uri } }
                  bearer_methods_supported:
                    type: array
                    items: { type: string }
                    description: '`header` only. A token in a query string reaches access logs and browser history.'
                  resource_documentation: { type: string, format: uri }
                  scopes_supported:
                    type: array
                    items: { type: string }
                    description: >
                      Empty. Nacre does not scope tokens — a token carries an
                      organization and a role, and permission on a document is
                      computed per call against the grant graph.
        '404':
          description: >
            The surface was built without the document. Not reachable in a
            deployment — both entry points supply it from configuration that is
            required at startup — and listed because a caller cannot tell that
            from the outside, and a client following `WWW-Authenticate` needs to
            know this answer is possible rather than treating it as a transport
            fault.

  /me:
    get:
      operationId: describeSelf
      summary: Who the caller is
      description: |
        The caller's own identity, composed from the presented token and nothing
        else. It names no other principal and reads no table, so there is no
        path here by which it could.

        This is not in tension with the rule that a refusal is indistinguishable
        from a missing object. That rule is about *objects*; this discloses only
        what the token the caller is already holding asserts.

        It exists because a client had no way to ask. The admin UI signed in and
        could not tell an `org_admin` from a `member`, so it offered every
        control to everybody — and a member pressing one got a `404`, which
        reads as a broken application rather than as a permission they do not
        hold.

        A service account gets an answer too: signing in as one is how an
        administrator checks what an agent can actually see.
      tags: [auth]
      responses:
        '200':
          description: The caller
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Self' }
        '401':
          description: No token, or one this deployment cannot verify.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /me/second-factor:
    get:
      operationId: listSecondFactors
      summary: The caller's own second factors
      description: |
        Enrolled authenticators, and how many recovery codes are left.

        Under `/me` and never `/users/{id}`, which is the security property and
        not a URL preference: an administrator resets a password and must not be
        able to enrol, read or remove somebody's second factor. The factor is a
        thing the *person* holds, and an administrator who could manage it would
        make it a thing the account's administrator holds.

        `404` where the installation configured no `NACRE_2FA_KEY_REF`, for a
        service account, and for a delegation. A key is not a person and has
        nobody to carry an authenticator; a delegation is a third party acting
        for somebody, and letting it change how that somebody signs in would be
        an escalation out of what was approved.
      tags: [auth]
      responses:
        '200':
          description: What this account holds
          content:
            application/json:
              schema:
                type: object
                required: [items, recovery_codes_left]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/SecondFactor' }
                  recovery_codes_left: { type: integer }
        '404':
          description: No second factor on this installation, or the caller is not a person.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    post:
      operationId: beginSecondFactorEnrolment
      summary: Start enrolling an authenticator
      description: |
        Generates a secret, stores it sealed and **unconfirmed**, and returns it
        once — this is the only moment it exists outside the sealed column, the
        same as a generated password.

        Nothing counts an unconfirmed factor. A secret that has never produced a
        correct code is a secret that did not reach an authenticator, and
        treating it as live is how somebody locks themselves out at the moment
        they turn this on. `POST /me/second-factor/{id}/confirm` is the second
        step.

        Repeating this with a label that already has an unconfirmed enrolment
        replaces it: somebody who closed the page before scanning has no way to
        name what they abandoned.
      tags: [auth]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, description: "What to call it; two phones need telling apart. Defaults to \"Authenticator\"." }
      responses:
        '201':
          description: Enrolment begun
          content:
            application/json:
              schema:
                type: object
                required: [id, secret, otpauth_url, label]
                properties:
                  id:          { type: string, format: uuid }
                  secret:      { type: string, description: 'Base32, for an app that will not scan. Returned once.' }
                  otpauth_url: { type: string, description: What a QR code carries. }
                  label:       { type: string }
        '404':
          description: No second factor on this installation, or the caller is not a person.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /me/second-factor/{id}/confirm:
    post:
      operationId: confirmSecondFactor
      summary: Prove the secret arrived, and take the recovery codes
      description: |
        Confirms the enrolment and returns the recovery codes, once.

        They are minted here rather than on demand for two reasons: somebody who
        has lost their phone cannot ask for them, and this is the one moment the
        product has their attention about it. A second enrolment does not
        reissue them — new codes would invalidate the set already written down —
        and answers an empty list.
      tags: [auth]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string }
      responses:
        '200':
          description: Confirmed
          content:
            application/json:
              schema:
                type: object
                required: [recovery_codes]
                properties:
                  recovery_codes:
                    type: array
                    items: { type: string }
                    description: Empty where a set already exists and is unspent.
        '404':
          description: >
            A wrong code and an enrolment that is not there, in one answer.
            Telling them apart would say whether a given id exists.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /me/second-factor/{id}:
    delete:
      operationId: removeSecondFactor
      summary: Remove an authenticator
      description: |
        Takes a **current code** in the body, and that is the whole reason this
        method has one: removing the second factor is the first thing somebody
        with a stolen session does, and a session is exactly what the factor
        exists to be more than.

        Removing the last factor deletes the recovery codes with it. They are
        the way past a second factor, so leaving them behind an account that no
        longer has one is a set of long-lived credentials nobody remembers
        holding.
      tags: [auth]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code: { type: string, description: 'Six digits, or a recovery code.' }
      responses:
        '204': { description: Removed }
        '404':
          description: No such factor, or the code was wrong.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /oauth/consent:
    post:
      operationId: consent
      summary: Approve an OAuth request, as yourself or as an agent
      description: |
        The one call in the OAuth flow that creates authority, and the reason it
        is inside the authenticated surface: a signed-in person is choosing what
        an application gets to act as.

        **Two answers, and the person is the default.** Omit `service_account_id`
        and the token is a *delegation*: the application acts as the signed-in
        person and reaches exactly what they reach, bounded by the ceiling
        chosen here. Name an agent and the token acts as that account and
        **never** as the person who approved it — an agent is a principal with
        its own grants, so "what may this agent read" is a different question
        from "what may you read", and handing an agent the approver's authority
        would answer the first with the second.

        Which of the two it is has no flag beside it. Naming an agent is what
        makes this the agent flow, because two ways to say one thing is two ways
        for them to disagree.

        A named agent must already exist and be visible to the caller. Creating
        one and granting it anything go through the endpoints that already do
        those things — a second path to either is how the guarded one gets
        walked around.

        The unauthenticated half of the flow — `/oauth/register`,
        `/oauth/authorize`, `/oauth/token` — is not in this contract: those are
        RFC 6749, RFC 7591 and RFC 8414, and `/.well-known/oauth-authorization-server`
        is where a client discovers them.
      tags: [auth]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ConsentRequest' }
      responses:
        '200':
          description: |
            Where the browser should go next. The redirect is the page's to
            perform: this is a request from a screen somebody is looking at, and
            a `302` on it would be followed by the fetch rather than by the
            browser.
          content:
            application/json:
              schema:
                type: object
                required: [redirect_to]
                properties:
                  redirect_to: { type: string, format: uri }
        '400':
          description: A missing field, an unknown client, or a redirect_uri it did not register.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          $ref: '#/components/responses/NotFoundOrForbidden'
  /oauth/consents:
    get:
      operationId: listConnections
      summary: Applications connected to this organization
      description: |
        What has been approved, and what each connection acts as — an agent, or
        the person who approved it.

        An `org_admin` sees the organization's; everybody else sees the ones
        they approved. That is not a gradient invented for this endpoint — an
        agent belongs to the organization, so somebody has to be able to end a
        connection whose approver has left. A delegation is somebody's own, and
        an administrator can end that too, for the same reason: the person may
        be gone.

        `last_refreshed_at` is *last seen renewing*, and the name says so. An
        access token is verified locally against a key, so its use touches
        nothing the server could record; a connection in constant use with a
        long-lived token looks idle here.
      tags: [auth]
      responses:
        '200':
          description: The connections, newest first
          content:
            application/json:
              schema:
                type: object
                required: [items, access_token_ttl_seconds]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/Connection' }
                  access_token_ttl_seconds:
                    type: integer
                    description: |
                      How long an already-issued access token can still work
                      after a connection is ended. Reported here so a client
                      does not have to compute it from configuration it cannot
                      see, and so a screen cannot claim an end that has not
                      happened yet.
  /oauth/consents/{id}:
    delete:
      operationId: endConnection
      summary: Forget an application
      description: |
        Ends one connection. The refresh token is deleted in the same
        transaction, so the application cannot renew and has to be approved
        again.

        **It is not the same as revoking the agent**, and the difference is the
        point: an agent may hold several connections and a key of its own that
        somebody pasted into a config file. Revoking the agent stops all of
        that; this stops one application.

        An access token already issued keeps working until it expires — it is a
        JWT verified against a key, and nothing consults a table when it is
        presented. The response carries that window rather than implying there
        is none. A denylist checked per request is the alternative, and it would
        make local verification not local.
      tags: [auth]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Ended
          content:
            application/json:
              schema:
                type: object
                required: [ended, access_token_ttl_seconds]
                properties:
                  ended: { type: boolean }
                  access_token_ttl_seconds: { type: integer }
        '404':
          $ref: '#/components/responses/NotFoundOrForbidden'
  /embedding-providers:
    get:
      summary: The embedding models this organization can put a layer on.
      description: >
        This organization's providers and the installation default, which every
        tenant can read and none can write. Not paged: a deployment has a
        handful of these, one per model it runs, and a cursor over three rows is
        machinery with nothing to do.


        **No endpoint and no credential are on the wire, in either direction of
        this resource.** Choosing a model takes an id; auditing where a
        deployment sends text is a different job with a different reader, and
        the endpoint is a URL an operator set rather than a fact about the
        model. Reading this is not an audited event, on the layer listing's
        rule: it describes what a caller could already infer from any layer.
      responses:
        '200':
          description: Every provider this caller may put a layer on
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/EmbeddingProvider' }
    post:
      summary: Add an embedding provider. `org_admin` only.
      description: >
        The route to a second model. `embedding_providers.org_id` has been in
        the schema since the first migration and the search path, the worker and
        the reindex machinery all honour it — but only `init` ever wrote a row,
        so the documented way to add one was `psql`.


        A provider belongs to the organization rather than to a workspace inside
        it, so the gate is the role and never `admin` on a scope: someone
        holding `admin` on one layer must not be able to add a model every other
        layer can be moved onto. The database narrows it again — a tenant cannot
        create, change or remove the installation default whatever this
        endpoint passes.


        `dimensions` is the load-bearing field and is checked rather than
        trusted. A layer's vector slot is created from it, so a number that does
        not match what the model actually returns is a layer that accepts
        documents and fails every one of them in the worker while this API
        answers `queued`.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, endpoint, model, dimensions]
              properties:
                name:
                  type: string
                  description: Unique within the organization
                endpoint:
                  type: string
                  format: uri
                  description: >
                    An absolute `http(s)` URL, parsed rather than stored as
                    typed — `minio:9000` was once accepted by a URL parser as
                    the scheme `minio:` with an empty host, and the failure
                    surfaced far from where it could be fixed. Point it at the
                    embedding adapter to route this model to a hosted vendor.
                model:
                  type: string
                  description: >
                    Sent to the endpoint as-is, and the routing key when the
                    endpoint is the embedding adapter.
                dimensions:
                  type: integer
                  minimum: 1
                  maximum: 16384
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmbeddingProvider' }
        '409':
          description: >
            The name is already in use in this organization. Deliberately not a
            404: the caller has proved they administer the organization, so this
            is a fact about the resource rather than about what they can see.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /workspaces:
    get:
      summary: >
        Workspaces this caller can reach. Narrowed by the read plan, not
        filtered afterwards.
      description: >
        Two ways to reach one: it holds a layer the plan reaches, or the caller
        holds a grant on the workspace itself. The second matters because an
        empty workspace has no layers to be reached through — without it an
        administrator who had just been granted one could not see it, and so
        could not create the first layer in it.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: The page
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Workspace' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: Create a workspace. `org_admin` only.
      description: >
        There is no scope above a workspace to hold a grant on, so the role is
        the only thing to ask. `platform_admin` is refused with everyone else:
        it administers organizations and reads no documents, and a workspace is
        where documents live.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug: { type: string, description: Unique within the organization }
                name: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
        '409':
          description: >
            The slug is already in use. Deliberately not a 404: the caller has
            proved they administer the organization, so this is a fact about the
            resource rather than about what they can see.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      summary: Rename a layer, or change its description. Requires admin on the workspace.
      description: >
        The slug is not editable: clients address a layer by it — `layers` on
        search, `layer` on ingest — so renaming one silently breaks every caller
        that stored it, and there is no redirect to soften that.

        Nor is the embedding provider or the chunk configuration. Both decide
        how the layer's vectors were built, so changing one without rebuilding
        them leaves the column disagreeing with the index. That is what
        `POST /v1/layers/{id}/reindex` is for, and it is not something to get by
        accident from a PATCH.

        No body, like every other write here that needs `admin` rather than
        `read`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name:        { type: string }
                description: { type: string, description: 'User-facing copy; the MCP tool description is built from it.' }
      responses:
        '204': { description: Updated }
        '400': { description: 'Neither name nor description was given, or one is not a string' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    delete:
      summary: Delete a layer, and every document in it
      description: >
        `admin` on the layer's workspace — the same check renaming makes, and
        deleting is the more dangerous of the two so it does not get a lower
        bar. Never `write`: an ingest-only service account holds that.


        Returns as soon as the layer stops resolving and its documents stop
        matching a search. The cascade underneath — points, chunk rows, bucket
        objects — is the collector's, on its own clock, and nothing a caller
        sees depends on when it runs. There is no undelete.


        Grants naming the layer are removed with it. They would resolve to
        nothing anyway, so no answer changes; what it avoids is
        `GET /v1/grants` listing rows that point at something a reader cannot
        look up.
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers:
    get:
      summary: Accessible layers. Narrowed by the caller's read plan, not filtered afterwards.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. next_cursor is null on the last one, and is the only
            signal that more exist — a page holding fewer than limit items does
            not mean the end where the collection is narrowed per caller.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Layer' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Create a layer. Requires admin on the workspace. A caller without it
        gets 404, identical to a workspace that does not exist.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, slug, name]
              properties:
                workspace_id: { type: string, format: uuid }
                slug:         { type: string, description: Unique within the organization }
                name:         { type: string }
                description:  { type: string }
                provider_id:
                  type: string
                  format: uuid
                  description: >
                    Which embedding model this layer is indexed with. An
                    embedding provider belonging to this organization, or the
                    installation-wide one. Omitted, the organization's own is
                    used if it has exactly one and the installation default
                    otherwise — so a organization running two models has to say
                    which, rather than getting whichever the database returned
                    first.

                    A provider whose named vector the organization's collection
                    has no room for is accepted: the collection is rebuilt with
                    room for it, and the layer holds its documents at `pending`
                    until that finishes. Qdrant cannot add a named vector to a
                    live collection, which is why this is a rebuild and not an
                    alteration.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Layer' }
        '409':
          description: >
            The slug is already in use in this organization. Deliberately not a
            404: the caller has proved admin on the workspace by this point, so
            the answer is about the resource rather than about what they can
            see, and answering 404 leaves an administrator unable to tell a
            name collision from having no permission.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}/reference-queries:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: The query set a reindex of this layer is checked against
      description: >
        Requires `admin` on the layer, not `read`. The entries name the
        documents someone considers the canonical answers to a query, which is
        a statement about the layer's contents — and rule 7 makes `admin` the
        permission that implies being allowed to see them, while rule 6 means
        `write` does not.


        An empty list is the normal state and means the layer has no recall
        gate.
      responses:
        '200':
          description: The set, in the order it was written.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ReferenceQuery' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    put:
      summary: Replace the query set whole
      description: >
        A reference set is one statement about what search must keep doing, so
        it is replaced rather than edited entry by entry — a partial edit is how
        half of one ends up describing a layer nobody has looked at since. The
        write is idempotent and there are no ids to invent on the way in.


        Sending `{"queries": []}` removes the gate.


        The external ids are **not** checked against the documents here. A set
        is often written before the documents it names are ingested, and
        refusing it then would make the gate impossible to set up on a new
        layer. They are resolved when the check runs, and an entry that resolves
        to nothing fails that reindex by name.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [queries]
              properties:
                queries:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required: [query, expected]
                    properties:
                      query: { type: string, minLength: 1, maxLength: 1024 }
                      expected:
                        type: array
                        minItems: 1
                        maxItems: 10
                        items: { type: string }
      responses:
        '200':
          description: The set as stored.
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: '#/components/schemas/ReferenceQuery' }
        '400':
          description: >
            Over a bound, or an entry missing a query or its expected documents.
            Every bound is a refusal and never a truncation — a truncated set is
            measured later as a recall number nobody can reconcile with what
            they wrote.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}/reindex:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      summary: Reindex the layer onto a different embedding model
      description: >
        Adds a second named vector to the points that already exist, built with
        the new model, and switches `vector_name` when every live document in the
        layer carries it. **Search keeps using the old vector until that
        moment**, so the layer stays answerable throughout and the switch is one
        statement.


        Requires `admin` on the layer — not `read`, and not `write`. A reindex
        changes which model answers every future query.


        The Recall@10 gate runs before the switch **where the layer has a
        reference query set**, and the layer stays on its current model if the
        gate fails. A layer with no set has no gate: the check needs documents
        the deployment picked, and there is nowhere else to get them. See
        `/layers/{id}/reference-queries`.


        The old vector is left in place after the switch and reclaimed by a
        sweep past `NACRE_COLLECTION_RETENTION_DAYS`, along with the collection
        the copy replaced. That window is what makes a rollback one statement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider_id]
              properties:
                provider_id:
                  type: string
                  format: uuid
                  description: >
                    An embedding provider belonging to this organization, or the
                    installation-wide default. Its model and dimensions decide
                    the name of the shadow vector.
      responses:
        '202':
          description: >
            Started. The work happens in the worker; GET this same path to watch
            it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReindexStatus' }
        '400':
          description: >
            No such provider available to this organization, or one naming the
            model the layer already uses.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: >
            No such layer, or one the caller may not administer. The usual rule
            — the two must not be separable.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: >
            A reindex is already running on this layer. Two at once would race
            to switch `vector_name`. There is no cancel: a half-written shadow
            vector is inert because nothing reads it until the switch, and
            starting a reindex back onto the current model is how one is undone.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    get:
      summary: How far a reindex has got
      description: >
        Requires `read` and not `admin`: that the layer you can search is being
        migrated explains why a result set moved, and hiding it from someone who
        can already read the layer buys nothing. `404` when the layer has never
        been reindexed.
      responses:
        '200':
          description: The state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReindexStatus' }
        '404':
          description: No such layer, none the caller may read, or no reindex has run.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /grants:
    get:
      summary: Grants in the organization
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. Grants are narrowed to the scopes the caller may
            administer after the cursor has been applied, so a short page is
            ordinary here and next_cursor is taken from the last row fetched
            rather than the last one returned.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Grant' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Issue a grant. Requires admin on the scope being granted, not admin in
        general — otherwise a caller holding admin on one layer could grant
        themselves another.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Grant' }
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201':
          description: 'Issued. Reflected in the next search, not eventually.'
          headers:
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '400':
          description: >
            Includes the two capabilities this build does not have.
            scope_type 'document' and effect 'deny' are commercial; see
            docs/licensing.md. 400 rather than 404 because the caller is an
            administrator asking for a feature, not asking whether an object
            exists.


            Also a `principal_id` or `scope_id` that is not a uuid, naming the
            one that is wrong. A malformed value is a fact about the caller's
            own request and discloses nothing, so it gets a specific answer;
            once the shape is right, whether the thing exists is `404` and is
            deliberately not specific.
        '404':
          description: >
            The principal or the scope is not in this organization, or the
            caller may not administer the scope. One answer for all three, which
            is invariant 4: a caller who cannot list principals must not be able
            to use grant issuance to find out which uuids are ones.


            Both ends are checked. A grant naming a principal that is not here
            would permit nothing and could never begin to — so it would sit in
            `GET /v1/grants` looking like access somebody has, on an id nobody
            can look up.
  /grants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: >
        Withdraw a grant. Requires admin on that grant's own scope, resolved
        from the stored row rather than from anything the caller sends.
      description: >
        A removal, not an effect flip. Writing effect 'deny' would look
        equivalent and is not: a deny beats an allow at any depth, so it would
        also suppress access the principal holds through a group or a parent
        scope, and deny is a commercial capability this build does not issue.
        The change is reflected in the next search rather than eventually: the
        caller's permitted set is computed per request from `grants`, and the
        one cache in front of it is keyed on the organization's permission
        epoch, which every write to `grants` moves.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '204': { description: Withdrawn }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts:
    get:
      summary: >
        Service accounts in the organization, with key prefixes and never keys.
        Requires org_admin; anyone else gets 404.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: The page.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/ServiceAccount' } }
                  next_cursor: { type: [string, 'null'] }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    post:
      summary: >
        Create a service account. The key is in this response and nowhere else,
        ever again — it is stored hashed, so it cannot be recovered from the
        database or from a backup. Idempotency-Key is ignored here for that
        reason: caching the response would put the key in a store with a
        24-hour TTL and undo it. Retrying is safe without one, since a duplicate
        name is answered 409 rather than minting a second key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '409':
          description: A service account with that name already exists in this organization.
        '201':
          description: Created. The only response that carries `key`.
[...]
