openapi: 3.1.0
info:
  title: Nacre API
  version: "1.0.0"
  description: >
    A self-hosted corporate knowledge index with fine-grained access control.
    The organization is determined by the token alone and is never accepted
    from a request body, a path, or a header.
servers:
  - url: https://nacre.work/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    Problem:
      type: object
      required: [type, title, status, request_id]
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string, description: Never reveals the existence of an inaccessible object }
        instance:   { type: string }
        request_id: { type: string }
    SearchRequest:
      type: object
      required: [query]
      properties:
        query:   { type: string }
        layers:  { type: array, items: { type: string } }
        top_k:   { type: integer, default: 10, minimum: 1, maximum: 50 }
        filters: { type: object, additionalProperties: true }
        rerank:  { type: boolean, default: true }
        include_content: { type: boolean, default: true }
    SearchHit:
      type: object
      required: [chunk_id, doc_id, layer, score, text]
      description: >
        What a result carries, and deliberately not what the vector store holds.
        The payload the index keeps — acl_tags, acl_version, org_id, layer_id —
        never reaches a client. An acl tag is a hash over the grant set reaching
        a document, so publishing it would let a caller group documents by which
        permissions they share.
      properties:
        chunk_id:   { type: string, format: uuid }
        doc_id:     { type: string, format: uuid }
        layer:      { type: string, description: The layer slug }
        title:      { type: [string, 'null'] }
        score:      { type: number }
        text:       { type: string }
        source_url: { type: string, description: 'Presigned, TTL from NACRE_PRESIGN_TTL. Not implemented yet.' }
        metadata:   { type: object, additionalProperties: true, description: Not implemented yet. }
    Layer:
      type: object
      required: [id, slug, name, workspace_id, document_count]
      properties:
        id:             { type: string, format: uuid }
        slug:           { type: string, description: Unique within the organization }
        name:           { type: string }
        workspace_id:   { type: string, format: uuid }
        description:    { type: string }
        document_count:
          type: integer
          description: >
            Live documents in the layer. Not "documents this caller may read" —
            layer-scoped grants are all the open core has, so anyone who can see
            the layer reaches everything in it. Document-level grants are a
            commercial module, and when they exist this has to be computed per
            caller or dropped.
    Document:
      type: object
      required: [document_id, layer, status, chunk_count, updated_at]
      description: >
        A document's metadata. Not its text — chunks are what search returns,
        and a whole-document body here would be a second, unpaginated way to
        read everything.
      properties:
        document_id: { type: string, format: uuid }
        layer:       { type: string, description: The layer slug }
        title:       { type: [string, 'null'] }
        status:      { type: string, enum: [pending, parsing, indexing, indexed, failed] }
        chunk_count: { type: integer }
        updated_at:  { type: string, format: date-time }
    IngestRequest:
      type: object
      required: [layer]
      properties:
        layer:       { type: string }
        external_id: { type: string, description: Idempotency key }
        title:       { type: string }
        content:     { type: string }
        url:         { type: string, format: uri }
        metadata:    { type: object, additionalProperties: true }
      oneOf:
        - required: [content]
        - required: [url]
    Job:
      type: object
      properties:
        job_id:      { type: string }
        document_id: { type: string, format: uuid }
        status:      { type: string, enum: [queued, parsing, embedding, indexed, failed] }
        progress:    { type: number }
        error:       { type: string }
    ServiceAccount:
      type: object
      properties:
        id:            { type: string, format: uuid }
        name:          { type: string }
        key_prefix:    { type: string, description: 'Not secret. Shown so two keys can be told apart.' }
        key:           { type: string, description: 'Only on creation. Never returned again.' }
        created_at:    { type: string, format: date-time }
        last_used_at:  { type: [string, 'null'], format: date-time }
        revoked_at:    { type: [string, 'null'], format: date-time }
    Grant:
      type: object
      required: [principal_type, principal_id, scope_type, scope_id, permission]
      properties:
        id:             { type: string, format: uuid }
        principal_type: { type: string, enum: [user, group, service_account] }
        principal_id:   { type: string, format: uuid }
        scope_type:     { type: string, enum: [workspace, layer, document] }
        scope_id:       { type: string, format: uuid }
        permission:     { type: string, enum: [read, write, admin] }
        effect:         { type: string, enum: [allow, deny], default: allow }
        source:         { type: string, enum: [manual, scim, api] }
  responses:
    NotFoundOrForbidden:
      description: >
        The object is absent or invisible. The two are deliberately
        indistinguishable: otherwise enumerating identifiers reveals which
        documents exist.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

paths:
  /search:
    post:
      summary: Semantic search, scoped to the caller's effective permissions
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchRequest' }
      responses:
        '200':
          description: Results. Exactly top_k permitted ones — the filter is applied inside the index traversal, not after ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  # `items`, not `hits`. Every collection response in this API
                  # uses the same key, this one included, and the document said
                  # `hits` while the server sent `items` — a contract that
                  # disagrees with the code is worse than no contract, because
                  # a client written against it compiles and returns nothing.
                  items: { type: array, items: { $ref: '#/components/schemas/SearchHit' } }
        '429': { description: Rate limit exceeded }
  /documents:
    post:
      summary: Add or update a document
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IngestRequest' }
          multipart/form-data:
            schema:
              type: object
              properties:
                file:  { type: string, format: binary }
                layer: { type: string }
      responses:
        '200': { description: Idempotent repeat; the document is unchanged }
        '202':
          description: Accepted for processing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '413': { description: Document exceeds NACRE_MAX_DOCUMENT_BYTES }
  /documents/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Fetch a document's metadata
      responses:
        '200':
          description: The document
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    delete:
      summary: Delete a document — a tombstone; it leaves results immediately
      responses:
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers:
    get:
      summary: Accessible layers. Narrowed by the caller's read plan, not filtered afterwards.
      responses:
        '200':
          description: The list
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Layer' } }
    post:
      summary: >
        Create a layer. Requires admin on the workspace. A caller without it
        gets 404, identical to a workspace that does not exist.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Layer' }
        '409':
          description: >
            The slug is already in use in this organization. Deliberately not a
            404: the caller has proved admin on the workspace by this point, so
            the answer is about the resource rather than about what they can
            see, and answering 404 leaves an administrator unable to tell a
            name collision from having no permission.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}/reindex:
    post:
      summary: Reindex onto a different model. Search stays available throughout.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '202': { description: Started }
  /grants:
    get:  { summary: Grants in the organization, responses: { '200': { description: The list } } }
    post:
      summary: >
        Issue a grant. Requires admin on the scope being granted, not admin in
        general — otherwise a caller holding admin on one layer could grant
        themselves another.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Grant' }
      responses:
        '201': { description: 'Issued. Reflected in results within ACL_PROPAGATION_SLA.' }
        '400':
          description: >
            Includes the two capabilities this build does not have.
            scope_type 'document' and effect 'deny' are commercial; see
            docs/licensing.md. 400 rather than 404 because the caller is an
            administrator asking for a feature, not asking whether an object
            exists.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /grants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: >
        Withdraw a grant. Requires admin on that grant's own scope, resolved
        from the stored row rather than from anything the caller sends.
      description: >
        A removal, not an effect flip. Writing effect 'deny' would look
        equivalent and is not: a deny beats an allow at any depth, so it would
        also suppress access the principal holds through a group or a parent
        scope, and deny is a commercial capability this build does not issue.
        The change is reflected in results within ACL_PROPAGATION_SLA, which is
        what nacre_acl_propagation_lag_seconds measures.
      responses:
        '204': { description: Withdrawn }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts:
    get:
      summary: >
        Service accounts in the organization, with key prefixes and never keys.
        Requires org_admin; anyone else gets 404.
      responses:
        '200': { description: The list }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    post:
      summary: >
        Create a service account. The key is in this response and nowhere else,
        ever again — it is stored hashed, so it cannot be recovered from the
        database or from a backup.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '201':
          description: Created. The only response that carries `key`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceAccount' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts/{id}:
    delete:
      summary: >
        Revoke. The key stops working on the next request — there is no TTL and
        no propagation window, because unlike a token this credential has no
        expiry of its own. The row is kept so the audit log's references resolve.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Revoked }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /jobs/{id}:
    get:
      summary: Ingest job status
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Job state and progress
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /audit:
    get:
      summary: Access log. Cursor pagination; JSONL and CSV export.
      responses:
        '200': { description: Events }
        '403': { description: The caller may not read this organization's audit log }
