openapi: 3.1.0
info:
  title: Nacre API
  version: "1.0.0"
  description: >
    A self-hosted corporate knowledge index with fine-grained access control.
    The organization is determined by the token alone and is never accepted
    from a request body, a path, or a header.
servers:
  - url: https://nacre.work/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    Problem:
      type: object
      required: [type, title, status, request_id]
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string, description: Never reveals the existence of an inaccessible object }
        instance:   { type: string }
        request_id: { type: string }
    SearchRequest:
      type: object
      required: [query]
      properties:
        query: { type: string }
        layers:
          type: array
          items: { type: string }
          maxItems: 64
          description: >
            Layer slugs to restrict the search to. Absent or empty means every
            layer the caller can read. Narrowing only — it is a `must` inside the
            index traversal, on top of the permission constraint, so it can never
            reach a layer a grant does not. Naming a layer the caller cannot read
            returns nothing from it and is indistinguishable from naming one that
            does not exist, which is invariant I4 applied to a query parameter.
        top_k: { type: integer, default: 10, minimum: 1, maximum: 50 }
        rerank: { type: boolean, default: true }
        include_content:
          type: boolean
          default: true
          description: >
            false omits `text` from every hit, leaving ids and scores. Applied
            after reranking, because a reranker scores the query against the
            text.
        filters:
          type: object
          description: >
            Restrict to documents whose metadata matches. Equality; a list value
            means any of those. **Narrowing only** — every entry becomes a `must`
            beside the permission constraint inside the index traversal, so a
            filter can only remove results the caller was already permitted to
            see, and `top_k` still comes back full from the smaller set.

            Keys are lower case letters, digits and underscores, and are read
            under a reserved payload namespace: `filters: {"deleted": false}`
            narrows on a metadata value called `deleted`, not on the tombstone
            flag. No negation, no ranges and no disjunction across keys — each is
            a way to widen if composed wrongly.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                maxItems: 32
                items: { type: [string, number, boolean] }
    ReindexStatus:
      type: object
      required: [layer_id, status, current_vector, shadow_vector, progress]
      properties:
        layer_id: { type: string, format: uuid }
        status:   { type: string, enum: [running, complete, failed] }
        phase:
          type: string
          enum: [copying, embedding]
          description: >
            `copying` is the organization's collection being rebuilt with room
            for the new model — no embeddings are computed and `progress` reads
            0 throughout. `embedding` is the per-layer work `progress` measures.
            The two are separate because the first is org-wide and happens once
            however many layers are migrated.
        current_vector:
          type: string
          description: 'What search is using right now.'
        shadow_vector:
          type: string
          description: 'What is being built. They differ until the switch.'
        provider_id: { type: string, format: uuid }
        started_at:  { type: string, format: date-time }
        finished_at: { type: [string, 'null'], format: date-time }
        total:
          type: integer
          description: >
            Documents outstanding when the reindex began. A starting figure and
            not a bound — documents ingested during the run are picked up by the
            same pass, so `done` can exceed it.
        done:     { type: integer }
        failed:   { type: integer }
        progress:
          type: number
          description: '0 to 1, clamped. An empty layer reads 1, because it is finished.'
        error:    { type: [string, 'null'] }

    AuditEvent:
      type: object
      description: >
        One recorded access, as docs/audit.md specifies it. Query text is never
        stored — a hash is, under NACRE_AUDIT_QUERY_TEXT=false, which is the
        default — so the journal cannot leak what the journal exists to police.
      required: [id, occurred_at, actor, surface, action, target, result]
      properties:
        id:          { type: string, description: 'A sequence rather than a uuid, because a log is ordered.' }
        occurred_at: { type: string, format: date-time }
        actor:
          type: object
          required: [type, label]
          properties:
            type:  { type: string, example: service_account }
            id:    { type: [string, 'null'], format: uuid }
            label: { type: string }
        surface: { type: string, enum: [api, mcp, admin, system] }
        client:  { type: [string, 'null'], description: From the MCP client's _meta. }
        action:  { type: string, example: search }
        target:
          type: object
          additionalProperties: true
          description: 'What the call was about; search records the layers and doc ids it returned.'
        result:  { type: string, enum: [allow, deny, error] }
        detail:  { type: object, additionalProperties: true }
        request_id: { type: [string, 'null'] }

    SearchHit:
      type: object
      required: [chunk_id, doc_id, layer, score]
      description: >
        What a result carries, and deliberately not what the vector store holds.
        The payload the index keeps — acl_tags, acl_version, org_id, layer_id —
        never reaches a client. An acl tag is a hash over the grant set reaching
        a document, so publishing it would let a caller group documents by which
        permissions they share.
      properties:
        chunk_id:   { type: string, format: uuid }
        doc_id:     { type: string, format: uuid }
        layer:      { type: string, description: The layer slug }
        title:      { type: [string, 'null'] }
        score:      { type: number }
        text:       { type: string }
        source_url: { type: string, description: 'Presigned, TTL from NACRE_PRESIGN_TTL. Not implemented yet.' }
        metadata:   { type: object, additionalProperties: true, description: 'The document''s metadata, as supplied on ingest.' }
    Workspace:
      type: object
      required: [id, slug, name, layer_count, created_at]
      properties:
        id:          { type: string, format: uuid }
        slug:        { type: string, description: Unique within the organization }
        name:        { type: string }
        layer_count:
          type: integer
          description: >
            Live layers in it — not "layers this caller may read". A count that
            varied by who asked would leak the shape of somebody else's grants.
        created_at:  { type: string, format: date-time }
    Layer:
      type: object
      required: [id, slug, name, workspace_id, document_count]
      properties:
        id:             { type: string, format: uuid }
        slug:           { type: string, description: Unique within the organization }
        name:           { type: string }
        workspace_id:   { type: string, format: uuid }
        description:    { type: string }
        document_count:
          type: integer
          description: >
            Live documents in the layer. Not "documents this caller may read" —
            layer-scoped grants are all the open core has, so anyone who can see
            the layer reaches everything in it. Document-level grants are a
            commercial module, and when they exist this has to be computed per
            caller or dropped.
    Document:
      type: object
      required: [document_id, layer, status, chunk_count, updated_at]
      description: >
        A document's metadata. Not its text — chunks are what search returns,
        and a whole-document body here would be a second, unpaginated way to
        read everything.
      properties:
        document_id: { type: string, format: uuid }
        layer:       { type: string, description: The layer slug }
        title:       { type: [string, 'null'] }
        status:      { type: string, enum: [pending, parsing, indexing, indexed, failed] }
        chunk_count: { type: integer }
        updated_at:  { type: string, format: date-time }
        metadata:
          allOf:
            - $ref: '#/components/schemas/DocumentMetadata'
          description: >
            What the document was tagged with, and what `filters` reads back.
            `{}` for a document that was never tagged.
    DocumentMetadata:
      type: object
      description: >
        Keys are lower case letters, digits and underscores — a key becomes a
        payload field name, and the vector store reads `.` as nested access.
        Values are scalars or lists of them; a nested object is refused rather
        than flattened. At most 32 keys.
      additionalProperties:
        oneOf:
          - type: string
          - type: number
          - type: boolean
          - type: array
            maxItems: 32
            items: { type: [string, number, boolean] }
    IngestRequest:
      type: object
      required: [layer]
      properties:
        layer:       { type: string }
        external_id: { type: string, description: Idempotency key }
        title:       { type: string }
        content:     { type: string }
        url:         { type: string, format: uri }
        metadata:
          type: object
          description: >
            Tags the document is filterable by. Keys are lower case letters,
            digits and underscores; values are scalars or lists of them, and a
            nested object is refused rather than flattened. At most 32 keys.

            Written into the vector payload of every chunk, which is why
            changing metadata alone re-indexes the document — the row and the
            index would otherwise disagree, and the document would carry a tag
            it does not answer to.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: array
                maxItems: 32
                items: { type: [string, number, boolean] }
      oneOf:
        - required: [content]
        - required: [url]
    Job:
      type: object
      properties:
        job_id:      { type: string }
        document_id: { type: string, format: uuid }
        status:      { type: string, enum: [queued, parsing, embedding, indexed, failed] }
        progress:    { type: number }
        error:       { type: string }
    ServiceAccount:
      type: object
      properties:
        id:            { type: string, format: uuid }
        name:          { type: string }
        key_prefix:    { type: string, description: 'Not secret. Shown so two keys can be told apart.' }
        key:           { type: string, description: 'Only on creation. Never returned again.' }
        created_at:    { type: string, format: date-time }
        last_used_at:  { type: [string, 'null'], format: date-time }
        revoked_at:    { type: [string, 'null'], format: date-time }
    TokenPair:
      type: object
      required: [access_token, token_type, expires_in, refresh_token]
      properties:
        access_token:  { type: string, description: 'JWT. The organization in it comes from the authenticated row.' }
        token_type:    { type: string, enum: [Bearer] }
        expires_in:    { type: integer, description: 'Seconds; from NACRE_ACCESS_TOKEN_TTL' }
        refresh_token:
          type: string
          description: >
            Opaque, and stored as a SHA-256 rather than in the clear — it
            outlives an access token by a month, so a database dump holding
            these would be a month of sessions rather than a list of
            identifiers. Rotated on every use.
    Grant:
      type: object
      required: [principal_type, principal_id, scope_type, scope_id, permission]
      properties:
        id:             { type: string, format: uuid }
        principal_type: { type: string, enum: [user, group, service_account] }
        principal_id:   { type: string, format: uuid }
        scope_type:     { type: string, enum: [workspace, layer, document] }
        scope_id:       { type: string, format: uuid }
        permission:     { type: string, enum: [read, write, admin] }
        effect:         { type: string, enum: [allow, deny], default: allow }
        source:         { type: string, enum: [manual, scim, api] }
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: >
        Opaque. Pass back the next_cursor from the previous page rather than
        constructing one — the format is allowed to change, and a cursor this
        API did not issue is answered 400. There is no offset parameter: offset
        paging skips and repeats rows when the collection changes underneath it,
        and ?offset= is refused rather than ignored.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Caches the response for 24 hours, scoped to the organization, **the
        principal**, the method, the path and a hash of the body. The principal
        is in that list because two principals in one organization see different
        things: a cache scoped to the tenant alone let either of them replay the
        other's response. Reusing a key with a different body is 409, as is a
        second attempt while the first is still in flight. Only successful
        responses are stored — a cached failure makes a transient fault
        permanent for a day. Ignored on POST /documents (already idempotent on
        content), on POST /search (safe to repeat, and its response is made of
        other people's documents), and on /service-accounts, whose response
        carries a credential.
      schema: { type: string, maxLength: 255 }
  headers:
    RateLimitLimit:
      description: Requests permitted in the current window (RFC 9331).
      schema: { type: integer }
    RateLimitRemaining:
      description: Requests left in the current window.
      schema: { type: integer }
    RateLimitReset:
      description: Seconds until the window resets.
      schema: { type: integer }
    RateLimitPolicy:
      description: 'The policy in force, as resource;q=quota;w=window.'
      schema: { type: string }
    RetryAfter:
      description: Seconds to wait. Present only on a 429.
      schema: { type: integer }
    IdempotencyReplayed:
      description: Present when the body is a replay of an earlier identical request.
      schema: { type: boolean }
  responses:
    NotFoundOrForbidden:
      description: >
        The object is absent or invisible. The two are deliberately
        indistinguishable: otherwise enumerating identifiers reveals which
        documents exist.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    RateLimited:
      description: >
        The organization's budget for this resource is spent. Counted per
        organization rather than per token, because a per-token limit is
        bypassed by issuing another key — and this API hands out keys. The
        RateLimit-* headers are on every counted response, not only this one, so
        a client can slow down before it is refused.
      headers:
        RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
        RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
        RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
        RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        Retry-After:         { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    IdempotencyConflict:
      description: >
        The Idempotency-Key is in use for a different request, or the first
        attempt has not finished. Replaying a response that does not match what
        was asked for — or does not exist yet — is worse than saying so.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

paths:
  /auth/login:
    post:
      summary: Email and password sign-in
      description: >
        `organization` is a lookup key and not a claim. Invariant I1 governs
        authenticated requests and this is the request with no token yet, so the
        body may name an organization to disambiguate the address — but the
        organization in the issued token comes from the row that authenticated,
        never from the request. Naming one organization while holding an account
        in another is a refusal, not a token for either. It may be omitted on a
        single-organization installation; omitted, the address must match
        exactly one user, and zero or several are the same refusal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:        { type: string, format: email }
                password:     { type: string, format: password }
                organization: { type: string, description: Organization slug. Optional on a single-organization installation. }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: >
            One response for every failure, in the same time: unknown address,
            wrong password, wrong organization, disabled account, and an account
            with no password set. An early return on "no such user" would make
            the response time say which addresses have accounts.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '429':
          description: >
            Two limits, on two different things, because either alone leaves a
            hole. Per email address — there is no organization until the sign-in
            succeeds, and that defends one account's password. And per client,
            because the address limit does nothing about the attack that is
            actually run: one password against ten thousand addresses never
            repeats a key. Reported as one response with the address limit's
            RateLimit-* headers, which is the tighter of the two; headers that
            varied by which limit fired would be a signal about other people's
            traffic.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '503':
          description: >
            Shed under load, and deliberately not a 401. The number of passwords
            being verified at once is bounded inside the process, because scrypt
            runs on libuv's thread pool and that pool is shared with DNS and file
            I/O — unbounded, a login flood stops the rest of the API on a name
            lookup. Past the bound nothing was decided about the credentials
            presented, so saying "not valid" would be a lie the client acts on.
            Carries Retry-After. Not an oracle: it depends on how loaded the
            process is and not at all on whether the account exists.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/refresh:
    post:
      summary: Exchange a refresh token for a new pair
      description: >
        Rotation on every use. A used token presented again is not tolerated as
        a client retry: the legitimate holder already exchanged it, so a second
        presentation means two parties hold it and one of them took it. Which is
        unknowable from here, so the whole family descended from that login is
        revoked and both sign in again.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: A new pair. The presented token is now spent.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Expired, revoked, already used, unknown, or the account has since been disabled.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/logout:
    post:
      summary: End the session this refresh token belongs to
      description: >
        Revokes the whole family, so the session ends rather than one token of
        it. A fresh login starts a new family, so signing out on one device
        leaves the others alone.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '204':
          description: >
            Whether or not the token was live. Answering "no such token" tells
            whoever is holding a stolen one that it is no longer worth using.
  /search:
    post:
      summary: Semantic search, scoped to the caller's effective permissions
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchRequest' }
      responses:
        '200':
          description: Results. Exactly top_k permitted ones — the filter is applied inside the index traversal, not after ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  # `items`, not `hits`. Every collection response in this API
                  # uses the same key, this one included, and the document said
                  # `hits` while the server sent `items` — a contract that
                  # disagrees with the code is worse than no contract, because
                  # a client written against it compiles and returns nothing.
                  items: { type: array, items: { $ref: '#/components/schemas/SearchHit' } }
          headers:
            RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
            RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents:
    post:
      summary: Add or update a document
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IngestRequest' }
          multipart/form-data:
            schema:
              type: object
              properties:
                file:  { type: string, format: binary }
                layer: { type: string }
      responses:
        '200': { description: Idempotent repeat; the document is unchanged }
        '202':
          description: Accepted for processing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '413': { description: Document exceeds NACRE_MAX_DOCUMENT_BYTES }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Fetch a document's metadata
      responses:
        '200':
          description: The document
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    patch:
      summary: >
        Replace a document's metadata. The vectors are untouched — no re-parse,
        no re-chunk, no re-embed.
      description: >
        `write`, and rule 6 means that is not the same set as `read`. The answer
        carries no body for exactly that reason: a caller who may retag a
        document and not read it must not learn its title or its layer from a
        successful call. `GET` is where the document is, for whoever may see it.

        A replacement and not a merge — send every tag the document should have.
        Sending `{"source":"notion"}` after `{"source":"confluence","team":"legal"}`
        leaves one tag, because otherwise a tag the caller removed would go on
        matching filters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metadata]
              properties:
                metadata: { $ref: '#/components/schemas/DocumentMetadata' }
      responses:
        '204': { description: Replaced }
        '400': { description: 'metadata is missing, or is not a usable shape' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    delete:
      summary: Delete a document — a tombstone; it leaves results immediately
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /.well-known/oauth-protected-resource:
    get:
      summary: >
        Protected resource metadata (RFC 9728). Unauthenticated, because it is
        what a client reads before it has a credential.
      security: []
      responses:
        '200':
          description: >
            The resource identifier every token is audience-bound to, and the
            authorization server when the deployment has one.

            `authorization_servers` is absent unless
            `NACRE_OAUTH_AUTHORIZATION_SERVER` names one, and is deliberately
            never pointed at Nacre itself: this is a resource server. Sign-in is
            email and password and a service account key is a random string
            matched against a hash — neither is an OAuth grant, so a client sent
            here for a token endpoint would find nothing.
          content:
            application/json:
              schema:
                type: object
                required: [resource, bearer_methods_supported, resource_documentation, scopes_supported]
                properties:
                  resource: { type: string, format: uri, description: 'No trailing slash; it is an audience value.' }
                  authorization_servers: { type: array, items: { type: string, format: uri } }
                  bearer_methods_supported:
                    type: array
                    items: { type: string }
                    description: '`header` only. A token in a query string reaches access logs and browser history.'
                  resource_documentation: { type: string, format: uri }
                  scopes_supported:
                    type: array
                    items: { type: string }
                    description: >
                      Empty. Nacre does not scope tokens — a token carries an
                      organization and a role, and permission on a document is
                      computed per call against the grant graph.
        '404':
          description: >
            The surface was built without the document. Not reachable in a
            deployment — both entry points supply it from configuration that is
            required at startup — and listed because a caller cannot tell that
            from the outside, and a client following `WWW-Authenticate` needs to
            know this answer is possible rather than treating it as a transport
            fault.

  /workspaces:
    get:
      summary: >
        Workspaces this caller can reach. Narrowed by the read plan, not
        filtered afterwards.
      description: >
        Two ways to reach one: it holds a layer the plan reaches, or the caller
        holds a grant on the workspace itself. The second matters because an
        empty workspace has no layers to be reached through — without it an
        administrator who had just been granted one could not see it, and so
        could not create the first layer in it.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: The page
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Workspace' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: Create a workspace. `org_admin` only.
      description: >
        There is no scope above a workspace to hold a grant on, so the role is
        the only thing to ask. `platform_admin` is refused with everyone else:
        it administers organizations and reads no documents, and a workspace is
        where documents live.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slug, name]
              properties:
                slug: { type: string, description: Unique within the organization }
                name: { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Workspace' }
        '409':
          description: >
            The slug is already in use. Deliberately not a 404: the caller has
            proved they administer the organization, so this is a fact about the
            resource rather than about what they can see.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    patch:
      summary: Rename a layer, or change its description. Requires admin on the workspace.
      description: >
        The slug is not editable: clients address a layer by it — `layers` on
        search, `layer` on ingest — so renaming one silently breaks every caller
        that stored it, and there is no redirect to soften that.

        Nor is the embedding provider or the chunk configuration. Both decide
        how the layer's vectors were built, so changing one without rebuilding
        them leaves the column disagreeing with the index. That is what
        `POST /v1/layers/{id}/reindex` is for, and it is not something to get by
        accident from a PATCH.

        No body, like every other write here that needs `admin` rather than
        `read`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              minProperties: 1
              properties:
                name:        { type: string }
                description: { type: string, description: 'User-facing copy; the MCP tool description is built from it.' }
      responses:
        '204': { description: Updated }
        '400': { description: 'Neither name nor description was given, or one is not a string' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers:
    get:
      summary: Accessible layers. Narrowed by the caller's read plan, not filtered afterwards.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. next_cursor is null on the last one, and is the only
            signal that more exist — a page holding fewer than limit items does
            not mean the end where the collection is narrowed per caller.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Layer' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Create a layer. Requires admin on the workspace. A caller without it
        gets 404, identical to a workspace that does not exist.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, slug, name]
              properties:
                workspace_id: { type: string, format: uuid }
                slug:         { type: string, description: Unique within the organization }
                name:         { type: string }
                description:  { type: string }
                provider_id:
                  type: string
                  format: uuid
                  description: >
                    Which embedding model this layer is indexed with. An
                    embedding provider belonging to this organization, or the
                    installation-wide one. Omitted, the organization's own is
                    used if it has exactly one and the installation default
                    otherwise — so a organization running two models has to say
                    which, rather than getting whichever the database returned
                    first.

                    A provider whose named vector the organization's collection
                    has no room for is accepted: the collection is rebuilt with
                    room for it, and the layer holds its documents at `pending`
                    until that finishes. Qdrant cannot add a named vector to a
                    live collection, which is why this is a rebuild and not an
                    alteration.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Layer' }
        '409':
          description: >
            The slug is already in use in this organization. Deliberately not a
            404: the caller has proved admin on the workspace by this point, so
            the answer is about the resource rather than about what they can
            see, and answering 404 leaves an administrator unable to tell a
            name collision from having no permission.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}/reindex:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    post:
      summary: Reindex the layer onto a different embedding model
      description: >
        Adds a second named vector to the points that already exist, built with
        the new model, and switches `vector_name` when every live document in the
        layer carries it. **Search keeps using the old vector until that
        moment**, so the layer stays answerable throughout and the switch is one
        statement.


        Requires `admin` on the layer — not `read`, and not `write`. A reindex
        changes which model answers every future query.


        Two of the six steps in docs/architecture.md are not built and are named
        there rather than skipped quietly: the Recall@10 gate before switching,
        which needs a reference query set that does not exist anywhere in this
        product, and dropping the old vector after a rollback window. The old
        vector stays, which is what makes a rollback one statement.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [provider_id]
              properties:
                provider_id:
                  type: string
                  format: uuid
                  description: >
                    An embedding provider belonging to this organization, or the
                    installation-wide default. Its model and dimensions decide
                    the name of the shadow vector.
      responses:
        '202':
          description: >
            Started. The work happens in the worker; GET this same path to watch
            it.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReindexStatus' }
        '400':
          description: >
            No such provider available to this organization, or one naming the
            model the layer already uses.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: >
            No such layer, or one the caller may not administer. The usual rule
            — the two must not be separable.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '409':
          description: >
            A reindex is already running on this layer. Two at once would race
            to switch `vector_name`. There is no cancel: a half-written shadow
            vector is inert because nothing reads it until the switch, and
            starting a reindex back onto the current model is how one is undone.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
    get:
      summary: How far a reindex has got
      description: >
        Requires `read` and not `admin`: that the layer you can search is being
        migrated explains why a result set moved, and hiding it from someone who
        can already read the layer buys nothing. `404` when the layer has never
        been reindexed.
      responses:
        '200':
          description: The state.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ReindexStatus' }
        '404':
          description: No such layer, none the caller may read, or no reindex has run.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /grants:
    get:
      summary: Grants in the organization
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. Grants are narrowed to the scopes the caller may
            administer after the cursor has been applied, so a short page is
            ordinary here and next_cursor is taken from the last row fetched
            rather than the last one returned.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Grant' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Issue a grant. Requires admin on the scope being granted, not admin in
        general — otherwise a caller holding admin on one layer could grant
        themselves another.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Grant' }
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201':
          description: 'Issued. Reflected in results within ACL_PROPAGATION_SLA.'
          headers:
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '400':
          description: >
            Includes the two capabilities this build does not have.
            scope_type 'document' and effect 'deny' are commercial; see
            docs/licensing.md. 400 rather than 404 because the caller is an
            administrator asking for a feature, not asking whether an object
            exists.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /grants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: >
        Withdraw a grant. Requires admin on that grant's own scope, resolved
        from the stored row rather than from anything the caller sends.
      description: >
        A removal, not an effect flip. Writing effect 'deny' would look
        equivalent and is not: a deny beats an allow at any depth, so it would
        also suppress access the principal holds through a group or a parent
        scope, and deny is a commercial capability this build does not issue.
        The change is reflected in results within ACL_PROPAGATION_SLA, which is
        what nacre_acl_propagation_lag_seconds measures.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '204': { description: Withdrawn }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts:
    get:
      summary: >
        Service accounts in the organization, with key prefixes and never keys.
        Requires org_admin; anyone else gets 404.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: The page.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/ServiceAccount' } }
                  next_cursor: { type: [string, 'null'] }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    post:
      summary: >
        Create a service account. The key is in this response and nowhere else,
        ever again — it is stored hashed, so it cannot be recovered from the
        database or from a backup. Idempotency-Key is ignored here for that
        reason: caching the response would put the key in a store with a
        24-hour TTL and undo it. Retrying is safe without one, since a duplicate
        name is answered 409 rather than minting a second key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '409':
          description: A service account with that name already exists in this organization.
        '201':
          description: Created. The only response that carries `key`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceAccount' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts/{id}:
    delete:
      summary: >
        Revoke. The key stops working on the next request — there is no TTL and
        no propagation window, because unlike a token this credential has no
        expiry of its own. The row is kept so the audit log's references resolve.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Revoked }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /jobs/{id}:
    get:
      summary: Ingest job status
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Job state and progress
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /audit:
    get:
      summary: Read the access log
      description: >
        Every access is recorded — see docs/audit.md — and this is how it is read
        back. Newest first, cursor-paged, and available as JSON, JSONL or CSV by
        content negotiation rather than a `format` parameter: the difference
        between them is representation, not resource.


        **Two roles see two different logs.** `org_admin` administers the tenant
        and sees its log in full, including which documents were read — the
        question docs/audit.md opens with. `platform_admin` administers the
        installation and is shown administrative actions only, never the record
        of who read what. That is rule 2 in authz.md applied to the journal: a
        platform administrator able to read every tenant's document-access log
        has exactly the access the permission model exists to deny, obtained
        through the record that exists to prove they did not have it. It is not a
        request parameter, so a caller cannot widen their own view by omitting
        one.


        Reading the log is itself recorded, as `audit.read`.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
        - name: from
          in: query
          schema: { type: string, format: date-time }
          description: Inclusive lower bound on `occurred_at`.
        - name: to
          in: query
          schema: { type: string, format: date-time }
          description: >
            Exclusive upper bound. A range with `from` at or after `to` is
            refused rather than returning nothing — on a compliance query "no
            events happened" and "you asked for an impossible range" are
            opposite answers.
        - name: actor_id
          in: query
          schema: { type: string, format: uuid }
        - name: action
          in: query
          schema: { type: string, maxLength: 64 }
        - name: result
          in: query
          schema: { type: string, enum: [allow, deny, error] }
      responses:
        '200':
          description: >
            Events, newest first. JSON carries `next_cursor` in the body; JSONL
            and CSV carry it in a `Link: rel="next"` header, because an export
            streaming to a file has nowhere to put a footer.
          headers:
            Link:
              schema: { type: string }
              description: 'Present on JSONL and CSV when more events follow.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/AuditEvent' } }
                  next_cursor: { type: [string, 'null'] }
            application/x-ndjson:
              schema: { type: string, description: 'One AuditEvent per line.' }
            text/csv:
              schema: { type: string, description: 'RFC 4180, CRLF, with a header row.' }
        '400':
          description: A malformed filter, refused rather than dropped.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '404':
          description: >
            Not 403, which an earlier draft of this document published and which
            would have been the only 403 in the contract. Invariant 4 reserves
            403 for an operation forbidden on an object the caller can already
            see; whether an organization has an audit log is not something a
            caller who may not read it is told. A method other than GET answers
            the same way.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '406':
          description: An Accept header naming none of the three types served.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
