openapi: 3.1.0
info:
  title: Nacre API
  version: "1.0.0"
  description: >
    A self-hosted corporate knowledge index with fine-grained access control.
    The organization is determined by the token alone and is never accepted
    from a request body, a path, or a header.
servers:
  - url: https://nacre.work/v1

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
  schemas:
    Problem:
      type: object
      required: [type, title, status, request_id]
      properties:
        type:       { type: string, format: uri }
        title:      { type: string }
        status:     { type: integer }
        detail:     { type: string, description: Never reveals the existence of an inaccessible object }
        instance:   { type: string }
        request_id: { type: string }
    SearchRequest:
      type: object
      required: [query]
      properties:
        query:   { type: string }
        layers:  { type: array, items: { type: string } }
        top_k:   { type: integer, default: 10, minimum: 1, maximum: 50 }
        filters: { type: object, additionalProperties: true }
        rerank:  { type: boolean, default: true }
        include_content: { type: boolean, default: true }
    SearchHit:
      type: object
      required: [chunk_id, doc_id, layer, score, text]
      description: >
        What a result carries, and deliberately not what the vector store holds.
        The payload the index keeps — acl_tags, acl_version, org_id, layer_id —
        never reaches a client. An acl tag is a hash over the grant set reaching
        a document, so publishing it would let a caller group documents by which
        permissions they share.
      properties:
        chunk_id:   { type: string, format: uuid }
        doc_id:     { type: string, format: uuid }
        layer:      { type: string, description: The layer slug }
        title:      { type: [string, 'null'] }
        score:      { type: number }
        text:       { type: string }
        source_url: { type: string, description: 'Presigned, TTL from NACRE_PRESIGN_TTL. Not implemented yet.' }
        metadata:   { type: object, additionalProperties: true, description: Not implemented yet. }
    Layer:
      type: object
      required: [id, slug, name, workspace_id, document_count]
      properties:
        id:             { type: string, format: uuid }
        slug:           { type: string, description: Unique within the organization }
        name:           { type: string }
        workspace_id:   { type: string, format: uuid }
        description:    { type: string }
        document_count:
          type: integer
          description: >
            Live documents in the layer. Not "documents this caller may read" —
            layer-scoped grants are all the open core has, so anyone who can see
            the layer reaches everything in it. Document-level grants are a
            commercial module, and when they exist this has to be computed per
            caller or dropped.
    Document:
      type: object
      required: [document_id, layer, status, chunk_count, updated_at]
      description: >
        A document's metadata. Not its text — chunks are what search returns,
        and a whole-document body here would be a second, unpaginated way to
        read everything.
      properties:
        document_id: { type: string, format: uuid }
        layer:       { type: string, description: The layer slug }
        title:       { type: [string, 'null'] }
        status:      { type: string, enum: [pending, parsing, indexing, indexed, failed] }
        chunk_count: { type: integer }
        updated_at:  { type: string, format: date-time }
    IngestRequest:
      type: object
      required: [layer]
      properties:
        layer:       { type: string }
        external_id: { type: string, description: Idempotency key }
        title:       { type: string }
        content:     { type: string }
        url:         { type: string, format: uri }
        metadata:    { type: object, additionalProperties: true }
      oneOf:
        - required: [content]
        - required: [url]
    Job:
      type: object
      properties:
        job_id:      { type: string }
        document_id: { type: string, format: uuid }
        status:      { type: string, enum: [queued, parsing, embedding, indexed, failed] }
        progress:    { type: number }
        error:       { type: string }
    ServiceAccount:
      type: object
      properties:
        id:            { type: string, format: uuid }
        name:          { type: string }
        key_prefix:    { type: string, description: 'Not secret. Shown so two keys can be told apart.' }
        key:           { type: string, description: 'Only on creation. Never returned again.' }
        created_at:    { type: string, format: date-time }
        last_used_at:  { type: [string, 'null'], format: date-time }
        revoked_at:    { type: [string, 'null'], format: date-time }
    TokenPair:
      type: object
      required: [access_token, token_type, expires_in, refresh_token]
      properties:
        access_token:  { type: string, description: 'JWT. The organization in it comes from the authenticated row.' }
        token_type:    { type: string, enum: [Bearer] }
        expires_in:    { type: integer, description: 'Seconds; from NACRE_ACCESS_TOKEN_TTL' }
        refresh_token:
          type: string
          description: >
            Opaque, and stored as a SHA-256 rather than in the clear — it
            outlives an access token by a month, so a database dump holding
            these would be a month of sessions rather than a list of
            identifiers. Rotated on every use.
    Grant:
      type: object
      required: [principal_type, principal_id, scope_type, scope_id, permission]
      properties:
        id:             { type: string, format: uuid }
        principal_type: { type: string, enum: [user, group, service_account] }
        principal_id:   { type: string, format: uuid }
        scope_type:     { type: string, enum: [workspace, layer, document] }
        scope_id:       { type: string, format: uuid }
        permission:     { type: string, enum: [read, write, admin] }
        effect:         { type: string, enum: [allow, deny], default: allow }
        source:         { type: string, enum: [manual, scim, api] }
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      required: false
      description: >
        Opaque. Pass back the next_cursor from the previous page rather than
        constructing one — the format is allowed to change, and a cursor this
        API did not issue is answered 400. There is no offset parameter: offset
        paging skips and repeats rows when the collection changes underneath it,
        and ?offset= is refused rather than ignored.
      schema: { type: string }
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: >
        Caches the response for 24 hours, scoped to the organization, **the
        principal**, the method, the path and a hash of the body. The principal
        is in that list because two principals in one organization see different
        things: a cache scoped to the tenant alone let either of them replay the
        other's response. Reusing a key with a different body is 409, as is a
        second attempt while the first is still in flight. Only successful
        responses are stored — a cached failure makes a transient fault
        permanent for a day. Ignored on POST /documents (already idempotent on
        content), on POST /search (safe to repeat, and its response is made of
        other people's documents), and on /service-accounts, whose response
        carries a credential.
      schema: { type: string, maxLength: 255 }
  headers:
    RateLimitLimit:
      description: Requests permitted in the current window (RFC 9331).
      schema: { type: integer }
    RateLimitRemaining:
      description: Requests left in the current window.
      schema: { type: integer }
    RateLimitReset:
      description: Seconds until the window resets.
      schema: { type: integer }
    RateLimitPolicy:
      description: 'The policy in force, as resource;q=quota;w=window.'
      schema: { type: string }
    RetryAfter:
      description: Seconds to wait. Present only on a 429.
      schema: { type: integer }
    IdempotencyReplayed:
      description: Present when the body is a replay of an earlier identical request.
      schema: { type: boolean }
  responses:
    NotFoundOrForbidden:
      description: >
        The object is absent or invisible. The two are deliberately
        indistinguishable: otherwise enumerating identifiers reveals which
        documents exist.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    RateLimited:
      description: >
        The organization's budget for this resource is spent. Counted per
        organization rather than per token, because a per-token limit is
        bypassed by issuing another key — and this API hands out keys. The
        RateLimit-* headers are on every counted response, not only this one, so
        a client can slow down before it is refused.
      headers:
        RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
        RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
        RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
        RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        Retry-After:         { $ref: '#/components/headers/RetryAfter' }
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    IdempotencyConflict:
      description: >
        The Idempotency-Key is in use for a different request, or the first
        attempt has not finished. Replaying a response that does not match what
        was asked for — or does not exist yet — is worse than saying so.
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

paths:
  /auth/login:
    post:
      summary: Email and password sign-in
      description: >
        `organization` is a lookup key and not a claim. Invariant I1 governs
        authenticated requests and this is the request with no token yet, so the
        body may name an organization to disambiguate the address — but the
        organization in the issued token comes from the row that authenticated,
        never from the request. Naming one organization while holding an account
        in another is a refusal, not a token for either. It may be omitted on a
        single-organization installation; omitted, the address must match
        exactly one user, and zero or several are the same refusal.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:        { type: string, format: email }
                password:     { type: string, format: password }
                organization: { type: string, description: Organization slug. Optional on a single-organization installation. }
      responses:
        '200':
          description: Signed in
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: >
            One response for every failure, in the same time: unknown address,
            wrong password, wrong organization, disabled account, and an account
            with no password set. An early return on "no such user" would make
            the response time say which addresses have accounts.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '429':
          description: >
            Two limits, on two different things, because either alone leaves a
            hole. Per email address — there is no organization until the sign-in
            succeeds, and that defends one account's password. And per client,
            because the address limit does nothing about the attack that is
            actually run: one password against ten thousand addresses never
            repeats a key. Reported as one response with the address limit's
            RateLimit-* headers, which is the tighter of the two; headers that
            varied by which limit fired would be a signal about other people's
            traffic.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
        '503':
          description: >
            Shed under load, and deliberately not a 401. The number of passwords
            being verified at once is bounded inside the process, because scrypt
            runs on libuv's thread pool and that pool is shared with DNS and file
            I/O — unbounded, a login flood stops the rest of the API on a name
            lookup. Past the bound nothing was decided about the credentials
            presented, so saying "not valid" would be a lie the client acts on.
            Carries Retry-After. Not an oracle: it depends on how loaded the
            process is and not at all on whether the account exists.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/refresh:
    post:
      summary: Exchange a refresh token for a new pair
      description: >
        Rotation on every use. A used token presented again is not tolerated as
        a client retry: the legitimate holder already exchanged it, so a second
        presentation means two parties hold it and one of them took it. Which is
        unknowable from here, so the whole family descended from that login is
        revoked and both sign in again.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: A new pair. The presented token is now spent.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TokenPair' }
        '401':
          description: Expired, revoked, already used, unknown, or the account has since been disabled.
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }
  /auth/logout:
    post:
      summary: End the session this refresh token belongs to
      description: >
        Revokes the whole family, so the session ends rather than one token of
        it. A fresh login starts a new family, so signing out on one device
        leaves the others alone.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '204':
          description: >
            Whether or not the token was live. Answering "no such token" tells
            whoever is holding a stolen one that it is no longer worth using.
  /search:
    post:
      summary: Semantic search, scoped to the caller's effective permissions
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SearchRequest' }
      responses:
        '200':
          description: Results. Exactly top_k permitted ones — the filter is applied inside the index traversal, not after ranking.
          content:
            application/json:
              schema:
                type: object
                properties:
                  # `items`, not `hits`. Every collection response in this API
                  # uses the same key, this one included, and the document said
                  # `hits` while the server sent `items` — a contract that
                  # disagrees with the code is worse than no contract, because
                  # a client written against it compiles and returns nothing.
                  items: { type: array, items: { $ref: '#/components/schemas/SearchHit' } }
          headers:
            RateLimit-Limit:     { $ref: '#/components/headers/RateLimitLimit' }
            RateLimit-Remaining: { $ref: '#/components/headers/RateLimitRemaining' }
            RateLimit-Reset:     { $ref: '#/components/headers/RateLimitReset' }
            RateLimit-Policy:    { $ref: '#/components/headers/RateLimitPolicy' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents:
    post:
      summary: Add or update a document
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IngestRequest' }
          multipart/form-data:
            schema:
              type: object
              properties:
                file:  { type: string, format: binary }
                layer: { type: string }
      responses:
        '200': { description: Idempotent repeat; the document is unchanged }
        '202':
          description: Accepted for processing
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '413': { description: Document exceeds NACRE_MAX_DOCUMENT_BYTES }
        '429': { $ref: '#/components/responses/RateLimited' }
  /documents/{id}:
    parameters:
      - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      summary: Fetch a document's metadata
      responses:
        '200':
          description: The document
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Document' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    delete:
      summary: Delete a document — a tombstone; it leaves results immediately
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '204': { description: Deleted }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers:
    get:
      summary: Accessible layers. Narrowed by the caller's read plan, not filtered afterwards.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. next_cursor is null on the last one, and is the only
            signal that more exist — a page holding fewer than limit items does
            not mean the end where the collection is narrowed per caller.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Layer' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Create a layer. Requires admin on the workspace. A caller without it
        gets 404, identical to a workspace that does not exist.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [workspace_id, slug, name]
              properties:
                workspace_id: { type: string, format: uuid }
                slug:         { type: string, description: Unique within the organization }
                name:         { type: string }
                description:  { type: string }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Layer' }
        '409':
          description: >
            The slug is already in use in this organization. Deliberately not a
            404: the caller has proved admin on the workspace by this point, so
            the answer is about the resource rather than about what they can
            see, and answering 404 leaves an administrator unable to tell a
            name collision from having no permission.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /layers/{id}/reindex:
    post:
      summary: 'Reindex onto a different model. NOT IMPLEMENTED.'
      description: >
        Specified and not built. There is no route: a request to this path is
        answered 404 like any other unknown path. It is documented because this
        is the contract it will be built to — search staying available
        throughout is the requirement, not a description of current behaviour.
        See docs/architecture.md for the intended sequence.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '202': { description: Started }
  /grants:
    get:
      summary: Grants in the organization
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: >
            The page. Grants are narrowed to the scopes the caller may
            administer after the cursor has been applied, so a short page is
            ordinary here and next_cursor is taken from the last row fetched
            rather than the last one returned.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Grant' } }
                  next_cursor: { type: [string, 'null'] }
    post:
      summary: >
        Issue a grant. Requires admin on the scope being granted, not admin in
        general — otherwise a caller holding admin on one layer could grant
        themselves another.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Grant' }
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '201':
          description: 'Issued. Reflected in results within ACL_PROPAGATION_SLA.'
          headers:
            Idempotency-Replayed: { $ref: '#/components/headers/IdempotencyReplayed' }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '400':
          description: >
            Includes the two capabilities this build does not have.
            scope_type 'document' and effect 'deny' are commercial; see
            docs/licensing.md. 400 rather than 404 because the caller is an
            administrator asking for a feature, not asking whether an object
            exists.
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /grants/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string, format: uuid }
    delete:
      summary: >
        Withdraw a grant. Requires admin on that grant's own scope, resolved
        from the stored row rather than from anything the caller sends.
      description: >
        A removal, not an effect flip. Writing effect 'deny' would look
        equivalent and is not: a deny beats an allow at any depth, so it would
        also suppress access the principal holds through a group or a parent
        scope, and deny is a commercial capability this build does not issue.
        The change is reflected in results within ACL_PROPAGATION_SLA, which is
        what nacre_acl_propagation_lag_seconds measures.
      parameters:
        - { $ref: '#/components/parameters/IdempotencyKey' }
      responses:
        '204': { description: Withdrawn }
        '409': { $ref: '#/components/responses/IdempotencyConflict' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts:
    get:
      summary: >
        Service accounts in the organization, with key prefixes and never keys.
        Requires org_admin; anyone else gets 404.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: The page.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/ServiceAccount' } }
                  next_cursor: { type: [string, 'null'] }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
    post:
      summary: >
        Create a service account. The key is in this response and nowhere else,
        ever again — it is stored hashed, so it cannot be recovered from the
        database or from a backup. Idempotency-Key is ignored here for that
        reason: caching the response would put the key in a store with a
        24-hour TTL and undo it. Retrying is safe without one, since a duplicate
        name is answered 409 rather than minting a second key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
      responses:
        '409':
          description: A service account with that name already exists in this organization.
        '201':
          description: Created. The only response that carries `key`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceAccount' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /service-accounts/{id}:
    delete:
      summary: >
        Revoke. The key stops working on the next request — there is no TTL and
        no propagation window, because unlike a token this credential has no
        expiry of its own. The row is kept so the audit log's references resolve.
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '204': { description: Revoked }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /jobs/{id}:
    get:
      summary: Ingest job status
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Job state and progress
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Job' }
        '404': { $ref: '#/components/responses/NotFoundOrForbidden' }
  /audit:
    get:
      summary: 'Access log. NOT IMPLEMENTED.'
      description: >
        Specified and not built; a request to this path is answered 404. Events
        are written on every access — see docs/audit.md — and there is no way to
        read them back over the API yet. Cursor pagination and JSONL/CSV export
        are the contract this will be built to.
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200': { description: Events }
        '404':
          description: >
            Not 403, which an earlier draft of this document published and which
            would have been the only 403 in the contract. Invariant 4 reserves
            403 for an operation forbidden on an object the caller can already
            see; whether an organization has an audit log is not something a
            caller who may not read it is told.
